@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto');
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

body
{
	background-color:#FFFFFF !important;
	font-family: 'Roboto', sans-serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif !important;
    padding: 0;
    margin: 0;
}

.cs_btn{
	background-color: #9c27b0 !important;
}

.btn-group >.selected-false {
	background-color:#FFFFFF !important;
	color : #222222 !important;
}

.padding-all-medium {
	padding:10px;
}
.padding-all-large {
	padding:20px !important;
}
.margin-sides-medium {
	margin-left:10px;
	margin-right:10px;
}
.main-content {
	padding-top:70px;
}

.un-decorated {
	all:none;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0px 0 !important;
    border-radius: 4px;
}

select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:#3498DB;
  background-repeat:no-repeat;
  background-position: right 2px top 15px;
  background-size: 16px 16px;
  color:white;
  padding:12px;
  width:auto;
  font-family:arial,tahoma;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}
select.instSize,select.instCount,select.selectBuild {
  
  background-position: right 1px top 15px;
  background-size: 16px 16px;
  padding:12px;
  padding-right:26px;
  
}
 #blue {
  background-color:#3498DB;
}

#blue:hover {
  background-color:#2980B9;
}

#green {
  background-color:#2ECC71;
}

#green:hover {
  background-color:#27AE60;
}

#red {
  background-color:#E74C3C;
}

#red:hover {
  background-color:#C0392B;
}

.hand-cursor:hover {
	cursor: pointer;
}

select:focus, select:active {
  border:0;
  outline:0;
}

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

  form
{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    outline: 0;
}

form.login input[type="submit"] {
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover {
    transition: background-color 0.5s ease;
}

.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}
 
.event-list {
	list-style: none;
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding-right:5px;
	max-height:400px;
	height:400px; 
	scroll:auto;
	overflow-y:auto; 
	overflow-x:hidden;
}
.event-list > li {
	background-color: #5F4BB6;
	text-align:center;
	border-radius:5px;
	padding: 10px;
	/* margin: 0px 10px 10px; */
}
.event-list > li > time {
	display: inline-block;
	width: 100%;
	background-color: #5F4BB6;
	border-radius:5px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
.event-list > li > time > span {
	display: none;
}
.event-list > li > time > .day {
	display: block;
	font-size: 14pt;
	padding-top:5px;
	font-weight: 100;
	line-height: 1;
	margin-left: -30px;
	color:#fff !important;
}
.event-list > li time > .month {
	display: block;
	font-size: 10pt;
	font-weight: 900;
	line-height: 1;
	margin-left: -30px;
	color:#fff !important;
}
.event-list > li > .info {
	padding-top: 3px;
	text-align: center;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
	text-align: left;
	padding-right: 40px;
}
.event-list > li > .info > .title {
	font-size: 14pt;
	font-weight: 700;
	margin: 0px;
}
.event-list > li > .info > .desc {
	/* font-size: 10pt;
	font-weight: 300;
	margin: 0px; */
	font-size: 9pt;
	font-weight: 300;
	margin: -2px;
	margin-top: -17px;
}
.event-list > li > .info:hover {
	color: rgb(30, 30, 30);
}
.fa.fa-pie-chart.stack{
	
    font-size: 20px;
    float: right;
    margin-top:-28px;
    margin-left:-3px;
    margin-right: 7px;
    line-height: 31px;
    width: 30px;
    text-align: center;
}
ul.event-list::-webkit-scrollbar {
    width: 10px;
	margin-left:5px;
}
 
ul.event-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
ul.event-list::-webkit-scrollbar-thumb {
  background-color: #5F4BB6;
  outline: 1px solid slategrey;
}

@media (min-width: 768px) {
	.event-list > li {
		position: relative;
		display: block;
		width: 100%;
		height: 60px;
		padding: 0px;
		margin-bottom:5px;
	}
	.event-list > li > time {
		display: inline-block;
	}
	.event-list > li > time {
		width: 60px;
		float: left;
	}
	.event-list > li > .info {
		overflow: hidden;
		
	}
	
	.event-list > li > time,
	.event-list > li > img {
		width: 60px;
		height: 60px;
		padding: 0px;
		margin: 0px;
		margin-right: -30px;
		
	}
	.event-list > li > .info {
		position: relative;
		height: 60px;
		
	}	
	.event-list > li > .info > .title, 
	.event-list > li > .info > .desc {
		padding: 0px 10px;
		color:#fff !important;
	}
}

.icon .stackTooltiptext_right {
	font-size: 10px;
	font-family: sans-serif;
	visibility: hidden;
	width: 130px;
	background-color: #5F4BB6;
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 0px;
	position: absolute;
	z-index: 1000;
	bottom: 147%;
	left: 73%;
	margin-left:-74px;
}
.icon:hover .stackTooltiptext_right {
	visibility: visible;
}

.cs_icon_min_font_size{
	font-size: 20px !important;
}
.cs_font_black{
	color: black !important;
}

.cs_pagination .pagination li>a{
	margin: 2px 2px !important;
	font-size: 12px !important;
}

 .event-list > li > .info > .title{
/* padding: 0px 10px; */
color:#fff !important;
position:relative;
display:inline
}
      
    .titles{
padding: 0px 10px;
color:#fff !important;
display:inline-block;
    width:107px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    }
    
.title .stackTooltiptext_bottom {
font-size: 10px;
/* font-family: sans-serif; */
visibility: hidden;
font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
width: auto;
text-transform: uppercase;
background-color: #5F4BB6;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 0px;
position: absolute; 
z-index: 1000;
left: 4px;
bottom: -15px;
margin-left: 10px;
}
.title:hover .stackTooltiptext_bottom {
visibility: visible;

}
