	

@font-face {
  font-family: "Flaticon";
  src: url("/fonts/Flaticon.eot");
  src: url("/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/fonts/Flaticon.woff") format("woff"),
       url("/fonts/Flaticon.ttf") format("truetype"),
       url("/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 26px;
 font-style: normal;
 float:right;
  margin-top:-36px;
 margin-left:166px;
 line-height:22px;
}
.flaticon-technology-4:before { content: "\f100"; }
.flaticon-technology:before { content: "\f101"; }
.flaticon-technology-15:before { content: "\f102"; }
.flaticon-technology-14:before { content: "\f103"; }
.flaticon-technology-13:before { content: "\f104"; }
.flaticon-technology-12:before { content: "\f105"; }
.flaticon-technology-11:before { content: "\f106"; }
.flaticon-technology-10:before { content: "\f107"; }
.flaticon-technology-9:before { content: "\f108"; }
.flaticon-technology-8:before { content: "\f109"; }
.flaticon-technology-7:before { content: "\f10a"; }
.flaticon-technology-6:before { content: "\f10b"; }
.flaticon-technology-5:before { content: "\f10c"; }
.flaticon-technology-3:before { content: "\f10d"; }
.flaticon-technology-2:before { content: "\f10e"; }
.flaticon-technology-1:before { content: "\f10f"; }
.flaticon-database-2:before { content: "\f110"; }
.flaticon-database-1:before { content: "\f111"; }
.flaticon-database:before { content: "\f112"; }