[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}


ul.user_tabs li {
	width:200px; margin-top:10px;
} 
ul.user_tabs li a {
	line-height:10px;
} 


.searchBar  {
	width: 100%;
	border-radius: 4px;
	background-color: #5F4BB6;
	border: none;
	padding: 10px;
}
.searchBar > input {
	width: 70%;z-index: -1;background-color: #5F4BB6;border: none;
}
.searchBar > .fa{
	float: right;margin-top: 4px;
}
@
-webkit-keyframes fadeOutUp {from { opacity:1;
	
}

to {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

}
@
keyframes fadeOutUp {from { opacity:1;
	
}

to {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

}
.fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}

.padding-lg {
	width: 100%;
}

.btn-war-disable {
	background-color: orange !important;
}

.btn-disable {
	background-color: purple !important;
}

h1, .h1 {
	font-size: 3.8em;
	line-height: 1.15em;
}

h2, .h2 {
	font-size: 2.6em;
}

h3, .h3 {
	font-size: 1.825em;
	line-height: 1.4em;
	margin: 20px 0 10px;
}

h4, .h4 {
	font-size: 1.3em;
	line-height: 1.4em;
}

h5, .h5 {
	font-size: 1.25em;
	line-height: 1.4em;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

h6, .h6 {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 500;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
	{
	color: #fff !important;
	background-color: #333 !important;
}

.nav-pills>li>a:focus, .nav-pills>li>a:hover {
	cursor: pointer !important;
}
/*.title,
.card-title,
.info-title,
.footer-brand,
.footer-big h5,
.footer-big h4,
.media .media-heading{
    font-weight: $font-weight-extra-bold;
    font-family: $font-family-serif;

    &,
    a{
        color: $black-color;
        text-decoration: none;
    }
}*/
h2.title {
	margin-bottom: 30px;
}

.textbox_pos {
	position: relative;
}

.icon {
	position: relative;
	display: inline-block;
}

.icon .tooltiptext_left {
	font-size: small;
	font-family: sans-serif;
	visibility: hidden;
	width: 200px;
	background-color: #444;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 153%;
	left: 50%;
	margin-left: -60px;
}

.icon:hover .tooltiptext_left {
	visibility: visible;
}

.icon .tooltiptext_right {
	font-size: small;
	font-family: sans-serif;
	visibility: hidden;
	width: 138px;
	background-color: #444;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 147%;
	left: 50%;
	margin-left: -60px;
}

.icon:hover .tooltiptext_right {
	visibility: visible;
}
.icon .tooltiptext_stack {
/* font-size: 9px;
    font-family: sans-serif;
    visibility: hidden;
    width: 147px;
    background-color:#444;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px;
    position: relative;
    z-index: 1;
    top: 100%;
    left: -8%;
    bottom: -27px;
    margin-left: -50px; */

    font-size: 9px;
    font-family: sans-serif;
    visibility: hidden;
    width: 130px;
    background-color: #337ab7;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: -18%;
    bottom: -24px;
    margin-left: -50px;
}
.icon:hover .tooltiptext_stack {
	visibility: visible;
}

.description, .card-description, .footer-big p {
	color: #999999;
}

.text-warning {
	color: #ff9800;
}

.text-primary {
	color: #9c27b0;
}

.text-danger {
	color: #f44336;
}

.text-success {
	color: #4caf50;
}

.text-info {
	color: #00bcd4;
}

.text-rose {
	color: #e91e63;
}

.text-gray {
	color: #999999;
}

.wrapper {
	position: relative;
	top: 0;
	height: 100vh;
}

.sidebar, .off-canvas-sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px
		rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
	position: relative;
	height: calc(100vh - 75px);
	overflow: auto;
	width: 260px;
	z-index: 4;
}

.sidebar .logo-tim, .off-canvas-sidebar .logo-tim {
	border-radius: 50%;
	border: 1px solid #333;
	display: block;
	height: 61px;
	width: 61px;
	float: left;
	overflow: hidden;
}

.sidebar .logo-tim img, .off-canvas-sidebar .logo-tim img {
	width: 60px;
	height: 60px;
}

.sidebar .nav li>a, .off-canvas-sidebar .nav li>a {
	margin: 5px 5px;
	border-radius: 3px;
	color: #3C4858;
}

.sidebar .nav li:hover>a, .off-canvas-sidebar .nav li:hover>a {
	background: rgba(200, 200, 200, 0.2);
	color: #3C4858;
}

.sidebar .nav li.active>a, .off-canvas-sidebar .nav li.active>a {
	color: #FFFFFF;
}

.sidebar .nav li.active>a i, .off-canvas-sidebar .nav li.active>a i {
	color: #FFFFFF;
}

.sidebar .nav p, .off-canvas-sidebar .nav p {
	margin: 0;
	line-height: 30px;
	font-size: 14px;
}

.sidebar .nav i, .off-canvas-sidebar .nav i {
	font-size: 24px;
	float: left;
	margin-right: 15px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	color: #a9afbb;
}

.sidebar .sidebar-background, .off-canvas-sidebar .sidebar-background {
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	display: block;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center center;
}

.sidebar .sidebar-background:after, .off-canvas-sidebar .sidebar-background:after
	{
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
	content: "";
	display: block;
	background: #FFFFFF;
	opacity: .93;
}

.sidebar .logo, .off-canvas-sidebar .logo {
	position: relative;
	padding: 15px 15px;
	z-index: 4;
}

.sidebar .logo:after, .off-canvas-sidebar .logo:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 10%;
	height: 1px;
	width: 80%;
	background-color: rgba(180, 180, 180, 0.3);
}

.sidebar .logo p, .off-canvas-sidebar .logo p {
	float: left;
	font-size: 20px;
	margin: 10px 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar .logo .simple-text, .off-canvas-sidebar .logo .simple-text {
	text-transform: uppercase;
	padding: 5px 0px;
	display: block;
	font-size: 18px;
	color: #3C4858;
	text-align: center;
	font-weight: 400;
	line-height: 30px;
}

.sidebar .logo-tim, .off-canvas-sidebar .logo-tim {
	border-radius: 50%;
	border: 1px solid #333;
	display: block;
	height: 61px;
	width: 61px;
	float: left;
	overflow: hidden;
}

.sidebar .logo-tim img, .off-canvas-sidebar .logo-tim img {
	width: 60px;
	height: 60px;
}

.sidebar:after, .sidebar:before, .off-canvas-sidebar:after,
	.off-canvas-sidebar:before {
	display: block;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}

.sidebar:before, .off-canvas-sidebar:before {
	opacity: .33;
}

.sidebar:after, .off-canvas-sidebar:after {
	z-index: 3;
	opacity: 1;
}

.sidebar[data-image]:after, .sidebar.has-image:after,
	.off-canvas-sidebar[data-image]:after, .off-canvas-sidebar.has-image:after
	{
	opacity: .77;
}

.sidebar[data-color="blue"] .nav li.active a, .off-canvas-sidebar[data-color="blue"] .nav li.active a
	{
	background-color: #00bcd4;
	box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.sidebar[data-color="green"] .nav li.active a, .off-canvas-sidebar[data-color="green"] .nav li.active a
	{
	background-color: #4caf50;
	box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.sidebar[data-color="orange"] .nav li.active a, .off-canvas-sidebar[data-color="orange"] .nav li.active a
	{
	background-color: #ff9800;
	box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.sidebar[data-color="red"] .nav li.active a, .off-canvas-sidebar[data-color="red"] .nav li.active a
	{
	background-color: #f44336;
	box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.sidebar[data-color="purple"] .nav li.active a, .off-canvas-sidebar[data-color="purple"] .nav li.active a
	{
	box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.off-canvas-sidebar .nav>li>a, .off-canvas-sidebar .nav>li>a:hover {
	color: #FFFFFF;
}

.off-canvas-sidebar .nav>li>a:focus {
	background: rgba(200, 200, 200, 0.2);
}

.main-panel {
	position: relative;
	z-index: 2;
	-webkit-transform: translate3d(0px, 0, 0);
	-moz-transform: translate3d(0px, 0, 0);
	-o-transform: translate3d(0px, 0, 0);
	-ms-transform: translate3d(0px, 0, 0);
	transform: translate3d(0px, 0, 0);
	-webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
	-moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
	-o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
	-ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
	transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.main-panel>.footer {
	border-top: 1px solid #e7e7e7;
}

.main-panel>.navbar {
	margin-bottom: 0;
}

.sidebar, .main-panel {
	-webkit-transition-property: top, bottom;
	transition-property: top, bottom;
	-webkit-transition-duration: .2s, .2s;
	transition-duration: .2s, .2s;
	-webkit-transition-timing-function: linear, linear;
	transition-timing-function: linear, linear;
	-webkit-overflow-scrolling: touch;
}

.btn, .navbar .navbar-nav>li>a.btn {
	border: none;
	border-radius: 3px;
	position: relative;
	padding: 12px 10px;
	margin: 10px 1px;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0;
	will-change: box-shadow, transform;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color
		0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn::-moz-focus-inner, .navbar .navbar-nav>li>a.btn::-moz-focus-inner {
	border: 0;
}

.btn, .btn.btn-default, .navbar .navbar-nav>li>a.btn, .navbar .navbar-nav>li>a.btn.btn-default
	{
	box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px
		rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.btn, .btn:hover, .btn:focus, .btn:active, .btn.active, .btn:active:focus,
	.btn:active:hover, .btn.active:focus, .btn.active:hover, .open>.btn.dropdown-toggle,
	.open>.btn.dropdown-toggle:focus, .open>.btn.dropdown-toggle:hover,
	.btn.btn-default, .btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active,
	.btn.btn-default.active, .btn.btn-default:active:focus, .btn.btn-default:active:hover,
	.btn.btn-default.active:focus, .btn.btn-default.active:hover, .open>.btn.btn-default.dropdown-toggle,
	.open>.btn.btn-default.dropdown-toggle:focus, .open>.btn.btn-default.dropdown-toggle:hover,
	.navbar .navbar-nav>li>a.btn, .navbar .navbar-nav>li>a.btn:hover,
	.navbar .navbar-nav>li>a.btn:focus, .navbar .navbar-nav>li>a.btn:active,
	.navbar .navbar-nav>li>a.btn.active, .navbar .navbar-nav>li>a.btn:active:focus,
	.navbar .navbar-nav>li>a.btn:active:hover, .navbar .navbar-nav>li>a.btn.active:focus,
	.navbar .navbar-nav>li>a.btn.active:hover, .open>.navbar .navbar-nav>li>a.btn.dropdown-toggle,
	.open>.navbar .navbar-nav>li>a.btn.dropdown-toggle:focus, .open>.navbar .navbar-nav>li>a.btn.dropdown-toggle:hover,
	.navbar .navbar-nav>li>a.btn.btn-default, .navbar .navbar-nav>li>a.btn.btn-default:hover,
	.navbar .navbar-nav>li>a.btn.btn-default:focus, .navbar .navbar-nav>li>a.btn.btn-default:active,
	.navbar .navbar-nav>li>a.btn.btn-default.active, .navbar .navbar-nav>li>a.btn.btn-default:active:focus,
	.navbar .navbar-nav>li>a.btn.btn-default:active:hover, .navbar .navbar-nav>li>a.btn.btn-default.active:focus,
	.navbar .navbar-nav>li>a.btn.btn-default.active:hover, .open>.navbar .navbar-nav>li>a.btn.btn-default.dropdown-toggle,
	.open>.navbar .navbar-nav>li>a.btn.btn-default.dropdown-toggle:focus,
	.open>.navbar .navbar-nav>li>a.btn.btn-default.dropdown-toggle:hover {
	background-color: #999999;
	color: #FFFFFF;
}

.btn:focus, .btn:active, .btn:hover, .btn.btn-default:focus, .btn.btn-default:active,
	.btn.btn-default:hover, .navbar .navbar-nav>li>a.btn:focus, .navbar .navbar-nav>li>a.btn:active,
	.navbar .navbar-nav>li>a.btn:hover, .navbar .navbar-nav>li>a.btn.btn-default:focus,
	.navbar .navbar-nav>li>a.btn.btn-default:active, .navbar .navbar-nav>li>a.btn.btn-default:hover
	{
	box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px
		rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
}

.btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled.focus,
	.btn.disabled:active, .btn.disabled.active, .btn:disabled, .btn:disabled:hover,
	.btn:disabled:focus, .btn:disabled.focus, .btn:disabled:active, .btn:disabled.active,
	.btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled].focus,
	.btn[disabled]:active, .btn[disabled].active, fieldset[disabled] .btn,
	fieldset[disabled] .btn:hover, fieldset[disabled] .btn:focus, fieldset[disabled] .btn.focus,
	fieldset[disabled] .btn:active, fieldset[disabled] .btn.active, .btn.btn-default.disabled,
	.btn.btn-default.disabled:hover, .btn.btn-default.disabled:focus, .btn.btn-default.disabled.focus,
	.btn.btn-default.disabled:active, .btn.btn-default.disabled.active,
	.btn.btn-default:disabled, .btn.btn-default:disabled:hover, .btn.btn-default:disabled:focus,
	.btn.btn-default:disabled.focus, .btn.btn-default:disabled:active, .btn.btn-default:disabled.active,
	.btn.btn-default[disabled], .btn.btn-default[disabled]:hover, .btn.btn-default[disabled]:focus,
	.btn.btn-default[disabled].focus, .btn.btn-default[disabled]:active,
	.btn.btn-default[disabled].active, fieldset[disabled] .btn.btn-default,
	fieldset[disabled] .btn.btn-default:hover, fieldset[disabled] .btn.btn-default:focus,
	fieldset[disabled] .btn.btn-default.focus, fieldset[disabled] .btn.btn-default:active,
	fieldset[disabled] .btn.btn-default.active, .navbar .navbar-nav>li>a.btn.disabled,
	.navbar .navbar-nav>li>a.btn.disabled:hover, .navbar .navbar-nav>li>a.btn.disabled:focus,
	.navbar .navbar-nav>li>a.btn.disabled.focus, .navbar .navbar-nav>li>a.btn.disabled:active,
	.navbar .navbar-nav>li>a.btn.disabled.active, .navbar .navbar-nav>li>a.btn:disabled,
	.navbar .navbar-nav>li>a.btn:disabled:hover, .navbar .navbar-nav>li>a.btn:disabled:focus,
	.navbar .navbar-nav>li>a.btn:disabled.focus, .navbar .navbar-nav>li>a.btn:disabled:active,
	.navbar .navbar-nav>li>a.btn:disabled.active, .navbar .navbar-nav>li>a.btn[disabled],
	.navbar .navbar-nav>li>a.btn[disabled]:hover, .navbar .navbar-nav>li>a.btn[disabled]:focus,
	.navbar .navbar-nav>li>a.btn[disabled].focus, .navbar .navbar-nav>li>a.btn[disabled]:active,
	.navbar .navbar-nav>li>a.btn[disabled].active, fieldset[disabled]
.navbar .navbar-nav>li>a.btn, fieldset[disabled]
.navbar .navbar-nav>li>a.btn:hover, fieldset[disabled]
.navbar .navbar-nav>li>a.btn:focus, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.focus, fieldset[disabled]
.navbar .navbar-nav>li>a.btn:active, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.active, .navbar .navbar-nav>li>a.btn.btn-default.disabled,
	.navbar .navbar-nav>li>a.btn.btn-default.disabled:hover, .navbar .navbar-nav>li>a.btn.btn-default.disabled:focus,
	.navbar .navbar-nav>li>a.btn.btn-default.disabled.focus, .navbar .navbar-nav>li>a.btn.btn-default.disabled:active,
	.navbar .navbar-nav>li>a.btn.btn-default.disabled.active, .navbar .navbar-nav>li>a.btn.btn-default:disabled,
	.navbar .navbar-nav>li>a.btn.btn-default:disabled:hover, .navbar .navbar-nav>li>a.btn.btn-default:disabled:focus,
	.navbar .navbar-nav>li>a.btn.btn-default:disabled.focus, .navbar .navbar-nav>li>a.btn.btn-default:disabled:active,
	.navbar .navbar-nav>li>a.btn.btn-default:disabled.active, .navbar .navbar-nav>li>a.btn.btn-default[disabled],
	.navbar .navbar-nav>li>a.btn.btn-default[disabled]:hover, .navbar .navbar-nav>li>a.btn.btn-default[disabled]:focus,
	.navbar .navbar-nav>li>a.btn.btn-default[disabled].focus, .navbar .navbar-nav>li>a.btn.btn-default[disabled]:active,
	.navbar .navbar-nav>li>a.btn.btn-default[disabled].active, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-default, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-default:hover, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-default:focus, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-default.focus, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-default:active, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-default.active {
	box-shadow: none;
}

.btn.btn-simple, .btn.btn-default.btn-simple, .navbar .navbar-nav>li>a.btn.btn-simple,
	.navbar .navbar-nav>li>a.btn.btn-default.btn-simple {
	background-color: transparent;
	color: #999999;
	box-shadow: none;
}

.btn.btn-simple:hover, .btn.btn-simple:focus, .btn.btn-simple:active,
	.btn.btn-default.btn-simple:hover, .btn.btn-default.btn-simple:focus,
	.btn.btn-default.btn-simple:active, .navbar .navbar-nav>li>a.btn.btn-simple:hover,
	.navbar .navbar-nav>li>a.btn.btn-simple:focus, .navbar .navbar-nav>li>a.btn.btn-simple:active,
	.navbar .navbar-nav>li>a.btn.btn-default.btn-simple:hover, .navbar .navbar-nav>li>a.btn.btn-default.btn-simple:focus,
	.navbar .navbar-nav>li>a.btn.btn-default.btn-simple:active {
	background-color: transparent;
	color: #999999;
}

.btn.btn-primary, .navbar .navbar-nav>li>a.btn.btn-primary {
	box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px
		rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
}

.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active,
	.btn.btn-primary.active, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover,
	.btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .open>.btn.btn-primary.dropdown-toggle,
	.open>.btn.btn-primary.dropdown-toggle:focus, .open>.btn.btn-primary.dropdown-toggle:hover,
	.navbar .navbar-nav>li>a.btn.btn-primary, .navbar .navbar-nav>li>a.btn.btn-primary:hover,
	.navbar .navbar-nav>li>a.btn.btn-primary:focus, .navbar .navbar-nav>li>a.btn.btn-primary:active,
	.navbar .navbar-nav>li>a.btn.btn-primary.active, .navbar .navbar-nav>li>a.btn.btn-primary:active:focus,
	.navbar .navbar-nav>li>a.btn.btn-primary:active:hover, .navbar .navbar-nav>li>a.btn.btn-primary.active:focus,
	.navbar .navbar-nav>li>a.btn.btn-primary.active:hover, .open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle,
	.open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle:focus,
	.open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle:hover {
	background-color: #9c27b0;
	color: #FFFFFF;
}

.btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:hover,
	.navbar .navbar-nav>li>a.btn.btn-primary:focus, .navbar .navbar-nav>li>a.btn.btn-primary:active,
	.navbar .navbar-nav>li>a.btn.btn-primary:hover {
	box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px
		rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}

.btn.btn-primary.disabled, .btn.btn-primary.disabled:hover, .btn.btn-primary.disabled:focus,
	.btn.btn-primary.disabled.focus, .btn.btn-primary.disabled:active, .btn.btn-primary.disabled.active,
	.btn.btn-primary:disabled, .btn.btn-primary:disabled:hover, .btn.btn-primary:disabled:focus,
	.btn.btn-primary:disabled.focus, .btn.btn-primary:disabled:active, .btn.btn-primary:disabled.active,
	.btn.btn-primary[disabled], .btn.btn-primary[disabled]:hover, .btn.btn-primary[disabled]:focus,
	.btn.btn-primary[disabled].focus, .btn.btn-primary[disabled]:active,
	.btn.btn-primary[disabled].active, fieldset[disabled] .btn.btn-primary,
	fieldset[disabled] .btn.btn-primary:hover, fieldset[disabled] .btn.btn-primary:focus,
	fieldset[disabled] .btn.btn-primary.focus, fieldset[disabled] .btn.btn-primary:active,
	fieldset[disabled] .btn.btn-primary.active, .navbar .navbar-nav>li>a.btn.btn-primary.disabled,
	.navbar .navbar-nav>li>a.btn.btn-primary.disabled:hover, .navbar .navbar-nav>li>a.btn.btn-primary.disabled:focus,
	.navbar .navbar-nav>li>a.btn.btn-primary.disabled.focus, .navbar .navbar-nav>li>a.btn.btn-primary.disabled:active,
	.navbar .navbar-nav>li>a.btn.btn-primary.disabled.active, .navbar .navbar-nav>li>a.btn.btn-primary:disabled,
	.navbar .navbar-nav>li>a.btn.btn-primary:disabled:hover, .navbar .navbar-nav>li>a.btn.btn-primary:disabled:focus,
	.navbar .navbar-nav>li>a.btn.btn-primary:disabled.focus, .navbar .navbar-nav>li>a.btn.btn-primary:disabled:active,
	.navbar .navbar-nav>li>a.btn.btn-primary:disabled.active, .navbar .navbar-nav>li>a.btn.btn-primary[disabled],
	.navbar .navbar-nav>li>a.btn.btn-primary[disabled]:hover, .navbar .navbar-nav>li>a.btn.btn-primary[disabled]:focus,
	.navbar .navbar-nav>li>a.btn.btn-primary[disabled].focus, .navbar .navbar-nav>li>a.btn.btn-primary[disabled]:active,
	.navbar .navbar-nav>li>a.btn.btn-primary[disabled].active, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-primary, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-primary:hover, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-primary:focus, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-primary.focus, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-primary:active, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-primary.active {
	box-shadow: none;
}

.btn.btn-primary.btn-simple, .navbar .navbar-nav>li>a.btn.btn-primary.btn-simple
	{
	background-color: transparent;
	color: #9c27b0;
	box-shadow: none;
}

.btn.btn-primary.btn-simple:hover, .btn.btn-primary.btn-simple:focus,
	.btn.btn-primary.btn-simple:active, .navbar .navbar-nav>li>a.btn.btn-primary.btn-simple:hover,
	.navbar .navbar-nav>li>a.btn.btn-primary.btn-simple:focus, .navbar .navbar-nav>li>a.btn.btn-primary.btn-simple:active
	{
	background-color: transparent;
	color: #9c27b0;
}

.btn.btn-primary.btn-simple, .navbar .navbar-nav>li>a.btn.btn-primary.btn-simple
	{
	background-color: transparent;
	color: #9c27b0;
	box-shadow: none;
}

.btn.btn-primary.btn-simple:hover, .btn.btn-primary.btn-simple:focus,
	.btn.btn-primary.btn-simple:active, .navbar .navbar-nav>li>a.btn.btn-primary.btn-simple:hover,
	.navbar .navbar-nav>li>a.btn.btn-primary.btn-simple:focus, .navbar .navbar-nav>li>a.btn.btn-primary.btn-simple:active
	{
	background-color: transparent;
	color: #9c27b0;
}

.btn.btn-info, .navbar .navbar-nav>li>a.btn.btn-info {
	box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px
		rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
}

.btn.btn-info, .btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active,
	.btn.btn-info.active, .btn.btn-info:active:focus, .btn.btn-info:active:hover,
	.btn.btn-info.active:focus, .btn.btn-info.active:hover, .open>.btn.btn-info.dropdown-toggle,
	.open>.btn.btn-info.dropdown-toggle:focus, .open>.btn.btn-info.dropdown-toggle:hover,
	.navbar .navbar-nav>li>a.btn.btn-info, .navbar .navbar-nav>li>a.btn.btn-info:hover,
	.navbar .navbar-nav>li>a.btn.btn-info:focus, .navbar .navbar-nav>li>a.btn.btn-info:active,
	.navbar .navbar-nav>li>a.btn.btn-info.active, .navbar .navbar-nav>li>a.btn.btn-info:active:focus,
	.navbar .navbar-nav>li>a.btn.btn-info:active:hover, .navbar .navbar-nav>li>a.btn.btn-info.active:focus,
	.navbar .navbar-nav>li>a.btn.btn-info.active:hover, .open>.navbar .navbar-nav>li>a.btn.btn-info.dropdown-toggle,
	.open>.navbar .navbar-nav>li>a.btn.btn-info.dropdown-toggle:focus,
	.open>.navbar .navbar-nav>li>a.btn.btn-info.dropdown-toggle:hover {
	background-color: #00bcd4;
	color: #FFFFFF;
}

.btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info:hover, .navbar .navbar-nav>li>a.btn.btn-info:focus,
	.navbar .navbar-nav>li>a.btn.btn-info:active, .navbar .navbar-nav>li>a.btn.btn-info:hover
	{
	box-shadow: 0 14px 26px -12px rgba(0, 188, 212, 0.42), 0 4px 23px 0px
		rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2);
}

.btn.btn-info.btn-simple, .navbar .navbar-nav>li>a.btn.btn-info.btn-simple
	{
	background-color: transparent;
	color: #00bcd4;
	box-shadow: none;
}

.btn.btn-info.btn-simple:hover, .btn.btn-info.btn-simple:focus, .btn.btn-info.btn-simple:active,
	.navbar .navbar-nav>li>a.btn.btn-info.btn-simple:hover, .navbar .navbar-nav>li>a.btn.btn-info.btn-simple:focus,
	.navbar .navbar-nav>li>a.btn.btn-info.btn-simple:active {
	background-color: transparent;
	color: #00bcd4;
}

.btn.btn-success, .navbar .navbar-nav>li>a.btn.btn-success {
	box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14), 0 3px 1px -2px
		rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
}

.btn.btn-success, .btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active,
	.btn.btn-success.active, .btn.btn-success:active:focus, .btn.btn-success:active:hover,
	.btn.btn-success.active:focus, .btn.btn-success.active:hover, .open>.btn.btn-success.dropdown-toggle,
	.open>.btn.btn-success.dropdown-toggle:focus, .open>.btn.btn-success.dropdown-toggle:hover,
	.navbar .navbar-nav>li>a.btn.btn-success, .navbar .navbar-nav>li>a.btn.btn-success:hover,
	.navbar .navbar-nav>li>a.btn.btn-success:focus, .navbar .navbar-nav>li>a.btn.btn-success:active,
	.navbar .navbar-nav>li>a.btn.btn-success.active, .navbar .navbar-nav>li>a.btn.btn-success:active:focus,
	.navbar .navbar-nav>li>a.btn.btn-success:active:hover, .navbar .navbar-nav>li>a.btn.btn-success.active:focus,
	.navbar .navbar-nav>li>a.btn.btn-success.active:hover, .open>.navbar .navbar-nav>li>a.btn.btn-success.dropdown-toggle,
	.open>.navbar .navbar-nav>li>a.btn.btn-success.dropdown-toggle:focus,
	.open>.navbar .navbar-nav>li>a.btn.btn-success.dropdown-toggle:hover {
	background-color: #4caf50;
	color: #FFFFFF;
}

.btn.btn-warning, .navbar .navbar-nav>li>a.btn.btn-warning {
	box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14), 0 3px 1px -2px
		rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12);
}

.btn.btn-warning, .btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active,
	.btn.btn-warning.active, .btn.btn-warning:active:focus, .btn.btn-warning:active:hover,
	.btn.btn-warning.active:focus, .btn.btn-warning.active:hover, .open>.btn.btn-warning.dropdown-toggle,
	.open>.btn.btn-warning.dropdown-toggle:focus, .open>.btn.btn-warning.dropdown-toggle:hover,
	.navbar .navbar-nav>li>a.btn.btn-warning, .navbar .navbar-nav>li>a.btn.btn-warning:hover,
	.navbar .navbar-nav>li>a.btn.btn-warning:focus, .navbar .navbar-nav>li>a.btn.btn-warning:active,
	.navbar .navbar-nav>li>a.btn.btn-warning.active, .navbar .navbar-nav>li>a.btn.btn-warning:active:focus,
	.navbar .navbar-nav>li>a.btn.btn-warning:active:hover, .navbar .navbar-nav>li>a.btn.btn-warning.active:focus,
	.navbar .navbar-nav>li>a.btn.btn-warning.active:hover, .open>.navbar .navbar-nav>li>a.btn.btn-warning.dropdown-toggle,
	.open>.navbar .navbar-nav>li>a.btn.btn-warning.dropdown-toggle:focus,
	.open>.navbar .navbar-nav>li>a.btn.btn-warning.dropdown-toggle:hover {
	background-color: #ff9800;
	color: #FFFFFF;
}

.btn.btn-danger, .navbar .navbar-nav>li>a.btn.btn-danger {
	box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px
		rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
}

.btn.btn-danger, .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active,
	.btn.btn-danger.active, .btn.btn-danger:active:focus, .btn.btn-danger:active:hover,
	.btn.btn-danger.active:focus, .btn.btn-danger.active:hover, .open>.btn.btn-danger.dropdown-toggle,
	.open>.btn.btn-danger.dropdown-toggle:focus, .open>.btn.btn-danger.dropdown-toggle:hover,
	.navbar .navbar-nav>li>a.btn.btn-danger, .navbar .navbar-nav>li>a.btn.btn-danger:hover,
	.navbar .navbar-nav>li>a.btn.btn-danger:focus, .navbar .navbar-nav>li>a.btn.btn-danger:active,
	.navbar .navbar-nav>li>a.btn.btn-danger.active, .navbar .navbar-nav>li>a.btn.btn-danger:active:focus,
	.navbar .navbar-nav>li>a.btn.btn-danger:active:hover, .navbar .navbar-nav>li>a.btn.btn-danger.active:focus,
	.navbar .navbar-nav>li>a.btn.btn-danger.active:hover, .open>.navbar .navbar-nav>li>a.btn.btn-danger.dropdown-toggle,
	.open>.navbar .navbar-nav>li>a.btn.btn-danger.dropdown-toggle:focus,
	.open>.navbar .navbar-nav>li>a.btn.btn-danger.dropdown-toggle:hover {
	background-color: #f44336;
	color: #FFFFFF;
}

.btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger:hover,
	.navbar .navbar-nav>li>a.btn.btn-danger:focus, .navbar .navbar-nav>li>a.btn.btn-danger:active,
	.navbar .navbar-nav>li>a.btn.btn-danger:hover {
	box-shadow: 0 14px 26px -12px rgba(244, 67, 54, 0.42), 0 4px 23px 0px
		rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
}

.btn.btn-danger.disabled, .btn.btn-danger.disabled:hover, .btn.btn-danger.disabled:focus,
	.btn.btn-danger.disabled.focus, .btn.btn-danger.disabled:active, .btn.btn-danger.disabled.active,
	.btn.btn-danger:disabled, .btn.btn-danger:disabled:hover, .btn.btn-danger:disabled:focus,
	.btn.btn-danger:disabled.focus, .btn.btn-danger:disabled:active, .btn.btn-danger:disabled.active,
	.btn.btn-danger[disabled], .btn.btn-danger[disabled]:hover, .btn.btn-danger[disabled]:focus,
	.btn.btn-danger[disabled].focus, .btn.btn-danger[disabled]:active, .btn.btn-danger[disabled].active,
	fieldset[disabled] .btn.btn-danger, fieldset[disabled] .btn.btn-danger:hover,
	fieldset[disabled] .btn.btn-danger:focus, fieldset[disabled] .btn.btn-danger.focus,
	fieldset[disabled] .btn.btn-danger:active, fieldset[disabled] .btn.btn-danger.active,
	.navbar .navbar-nav>li>a.btn.btn-danger.disabled, .navbar .navbar-nav>li>a.btn.btn-danger.disabled:hover,
	.navbar .navbar-nav>li>a.btn.btn-danger.disabled:focus, .navbar .navbar-nav>li>a.btn.btn-danger.disabled.focus,
	.navbar .navbar-nav>li>a.btn.btn-danger.disabled:active, .navbar .navbar-nav>li>a.btn.btn-danger.disabled.active,
	.navbar .navbar-nav>li>a.btn.btn-danger:disabled, .navbar .navbar-nav>li>a.btn.btn-danger:disabled:hover,
	.navbar .navbar-nav>li>a.btn.btn-danger:disabled:focus, .navbar .navbar-nav>li>a.btn.btn-danger:disabled.focus,
	.navbar .navbar-nav>li>a.btn.btn-danger:disabled:active, .navbar .navbar-nav>li>a.btn.btn-danger:disabled.active,
	.navbar .navbar-nav>li>a.btn.btn-danger[disabled], .navbar .navbar-nav>li>a.btn.btn-danger[disabled]:hover,
	.navbar .navbar-nav>li>a.btn.btn-danger[disabled]:focus, .navbar .navbar-nav>li>a.btn.btn-danger[disabled].focus,
	.navbar .navbar-nav>li>a.btn.btn-danger[disabled]:active, .navbar .navbar-nav>li>a.btn.btn-danger[disabled].active,
	fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-danger, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-danger:hover, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-danger:focus, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-danger.focus, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-danger:active, fieldset[disabled]
.navbar .navbar-nav>li>a.btn.btn-danger.active {
	box-shadow: none;
}

.btn.btn-danger.btn-simple, .navbar .navbar-nav>li>a.btn.btn-danger.btn-simple
	{
	background-color: transparent;
	color: #f44336;
	box-shadow: none;
}

.btn.btn-danger.btn-simple:hover, .btn.btn-danger.btn-simple:focus, .btn.btn-danger.btn-simple:active,
	.navbar .navbar-nav>li>a.btn.btn-danger.btn-simple:hover, .navbar .navbar-nav>li>a.btn.btn-danger.btn-simple:focus,
	.navbar .navbar-nav>li>a.btn.btn-danger.btn-simple:active {
	background-color: transparent;
	color: #f44336;
}

.label {
	border-radius: 2px;
}

.label, .label.label-default {
	background-color: #FFFFFF;
}

.label.label-inverse {
	background-color: #212121;
}

.label.label-primary {
	background-color: #9c27b0;
}

.label.label-success {
	background-color: #4caf50;
}

.label.label-info {
	background-color: #00bcd4;
}

.label.label-warning {
	background-color: #ff9800;
}

.label.label-danger {
	background-color: #f44336;
}

.label.label-rose {
	background-color: #e91e63;
}

.alert {
	border: 0;
	border-radius: 0;
	position: relative;
	padding: 20px 15px;
	line-height: 20px;
	width: 96%;
    margin-left: 17px;
}

.alert {
	background-color: white;
	color: #555555;
	border-radius: 3px;
	box-shadow: 0 12px 20px -10px rgba(255, 255, 255, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 255, 255, 0.2);
}

.alert .alert-link, .alert.alert-default a {
	color: #555555;
}

.alert.alert-inverse {
	background-color: #2e2e2e;
	color: #fff;
	border-radius: 3px;
	box-shadow: 0 12px 20px -10px rgba(33, 33, 33, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(33, 33, 33, 0.2);
}

.alert.alert-inverse a, .alert.alert-inverse .alert-link {
	color: #fff;
}

.alert.alert-primary {
	background-color: #af2cc5;
	color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.alert.alert-primary a, .alert.alert-primary .alert-link {
	color: #ffffff;
}

.alert.alert-success {
	background-color: #5cb860;
	color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.alert.alert-success a, .alert.alert-success .alert-link {
	color: #ffffff;
}

.alert.alert-info {
	background-color: #00d3ee;
	color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.alert.alert-info a, .alert.alert-info .alert-link {
	color: #ffffff;
}

.alert.alert-warning {
	background-color: #ffa21a;
	color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.alert-info, .alert-danger, .alert-warning, .alert-success {
	color: #ffffff;
}

.alert.alert-with-icon {
	padding-left: 65px;
}

.table>thead>tr>th {
	border-bottom-width: 1px;
	font-size: 1em;
	font-weight: 300;
}

.table .radio, .table .checkbox {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10px;
	padding: 0;
	width: 15px;
}

.table .radio .icons, .table .checkbox .icons {
	position: relative;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 12px 8px;
	vertical-align: middle;
}

.table>thead>tr>th {
	padding-bottom: 4px;
}

.table .td-actions {
	display: flex;
}

.table .td-actions .btn {
	margin: 0px;
	padding: 5px;
}

.table>tbody>tr {
	position: relative;
}

.modal-content {
	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0
		rgba(0, 0, 0, 0.22);
	border-radius: 6px;
	border: none;
}

.modal-content .modal-header {
	border-bottom: none;
	padding-top: 24px;
	padding-right: 24px;
	padding-bottom: 0;
	padding-left: 24px;
}

.modal-content .modal-body {
	padding-top: 24px;
	padding-right: 24px;
	padding-bottom: 16px;
	padding-left: 24px;
}

.modal-content .modal-footer {
	border-top: none;
	padding: 7px;
}

.modal-content .modal-footer.text-center {
	text-align: center;
}

.modal-content .modal-footer button {
	margin: 0;
	padding-left: 16px;
	padding-right: 16px;
	width: auto;
}

.modal-content .modal-footer button.pull-left {
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	left: -5px;
}

.modal-content .modal-footer button+button {
	margin-bottom: 16px;
}

.modal-content .modal-body+.modal-footer {
	padding-top: 0;
}

.modal-backdrop {
	background: rgba(0, 0, 0, 0.3);
}

.modal .modal-dialog {
	margin-top: 100px;
}

.modal .modal-header .close {
	position:absolute;
	z-index:100;
	right:22px;
	margin : -12px;
	padding: 0px 0px 1px 1px;
	float: right !important;
	background-color: #ff9800!important;
	color:white !important;
	border-radius: 15px !important;
	width: 30px !important;
	height: 30px !important;
	opacity: 1 !important;
}

.modal .modal-header .close:hover, .modal .modal-header .close:focus {
	opacity: 1;
}

.modal .modal-header .close i {
	font-size: 16px;
}

.modal-notice .instruction {
	margin-bottom: 25px;
}

.modal-notice .picture {
	max-width: 150px;
}

.modal-notice .modal-content .btn-raised {
	margin-bottom: 15px;
}

.modal-small {
	width: 300px;
}

.modal-small .modal-body {
	margin-top: 20px;
}

.navbar {
	border: 0;
	border-radius: 3px;
	border-bottom: 1px solid #ededf3;
}

.navbar .navbar-brand {
	position: relative;
	height: 50px;
	line-height: 30px;
	color: inherit;
	padding: 10px 15px;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
	color: inherit;
	background-color: transparent;
}

.navbar .notification {
	position: absolute;
	top: 5px;
	border: 1px solid #FFF;
	right: 10px;
	font-size: 9px;
	background: #f44336;
	color: #FFFFFF;
	min-width: 20px;
	padding: 0px 5px;
	height: 20px;
	border-radius: 10px;
	text-align: center;
	line-height: 19px;
	vertical-align: middle;
	display: block;
}

.navbar .navbar-text {
	color: inherit;
	margin-top: 15px;
	margin-bottom: 15px;
}

.navbar .navbar-nav>li>a {
	color: inherit;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 3px;
}

.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus {
	color: inherit;
	background-color: transparent;
}

.navbar .navbar-nav>li>a .material-icons, .navbar .navbar-nav>li>a .fa {
	font-size: 20px;
}

.navbar .navbar-nav>li>a.btn:not (.btn-just-icon ) .fa {
	position: relative;
	top: 2px;
	margin-top: -4px;
	margin-right: 4px;
}

.navbar .navbar-nav>li>.dropdown-menu {
	margin-top: -20px;
}

.navbar .navbar-nav>li.open>.dropdown-menu {
	margin-top: 0;
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:hover,
	.navbar .navbar-nav>.active>a:focus {
	color: inherit;
	background-color: rgba(255, 255, 255, 0.1);
}

.navbar .navbar-nav>.disabled>a, .navbar .navbar-nav>.disabled>a:hover,
	.navbar .navbar-nav>.disabled>a:focus {
	color: inherit;
	background-color: transparent;
	opacity: 0.9;
}

.navbar .navbar-nav .profile-photo {
	padding: 0 5px 0;
}

.navbar .navbar-nav .profile-photo .profile-photo-small {
	height: 40px;
	width: 40px;
}

.navbar .navbar-toggle {
	border: 0;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
	background-color: transparent;
}

.navbar .navbar-toggle .icon-bar {
	background-color: inherit;
	border: 1px solid;
}

.navbar .navbar-default .navbar-toggle, .navbar .navbar-inverse .navbar-toggle
	{
	border-color: transparent;
}

.navbar .navbar-collapse, .navbar .navbar-form {
	border-top: none;
	box-shadow: none;
}

.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:hover, .navbar .navbar-nav>.open>a:focus
	{
	background-color: transparent;
	color: inherit;
}

@media ( max-width : 767px) {
	.navbar .navbar-nav .navbar-text {
		color: inherit;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.navbar .navbar-nav .open .dropdown-menu>.dropdown-header {
		border: 0;
		color: inherit;
	}
	.navbar .navbar-nav .open .dropdown-menu .divider {
		border-bottom: 1px solid;
		opacity: 0.08;
	}
	.navbar .navbar-nav .open .dropdown-menu>li>a {
		color: inherit;
	}
	.navbar .navbar-nav .open .dropdown-menu>li>a:hover, .navbar .navbar-nav .open .dropdown-menu>li>a:focus
		{
		color: inherit;
		background-color: transparent;
	}
	.navbar .navbar-nav .open .dropdown-menu>.active>a, .navbar .navbar-nav .open .dropdown-menu>.active>a:hover,
		.navbar .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: inherit;
		background-color: transparent;
	}
	.navbar .navbar-nav .open .dropdown-menu>.disabled>a, .navbar .navbar-nav .open .dropdown-menu>.disabled>a:hover,
		.navbar .navbar-nav .open .dropdown-menu>.disabled>a:focus {
		color: inherit;
		background-color: transparent;
	}
}

.navbar.navbar-default .logo-container .brand {
	color: #555555;
}

.navbar .navbar-link {
	color: inherit;
}

.navbar .navbar-link:hover {
	color: inherit;
}

.navbar .btn {
	margin-top: 0;
	margin-bottom: 0;
}

.navbar .btn-link {
	color: inherit;
}

.navbar .btn-link:hover, .navbar .btn-link:focus {
	color: inherit;
}

.navbar .btn-link[disabled]:hover, .navbar .btn-link[disabled]:focus,
	fieldset[disabled] .navbar .btn-link:hover, fieldset[disabled] .navbar .btn-link:focus
	{
	color: inherit;
}

.navbar .navbar-form {
	margin: 4px 0 0;
}

.navbar .navbar-form .form-group {
	margin: 0;
	padding: 0;
}

.navbar .navbar-form .form-group .material-input:before, .navbar .navbar-form .form-group.is-focused .material-input:after
	{
	background-color: inherit;
}

.navbar .navbar-form .form-group .form-control, .navbar .navbar-form .form-control
	{
	border-color: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	height: 28px;
	font-size: 14px;
	line-height: 1.42857;
}

.navbar, .navbar.navbar-default {
	background-color: #FFFFFF;
	color: #555555;
}

.navbar .navbar-form .form-group input.form-control::-moz-placeholder,
	.navbar .navbar-form input.form-control::-moz-placeholder, .navbar.navbar-default .navbar-form .form-group input.form-control::-moz-placeholder,
	.navbar.navbar-default .navbar-form input.form-control::-moz-placeholder
	{
	color: #555555;
}

.navbar .navbar-form .form-group input.form-control:-ms-input-placeholder,
	.navbar .navbar-form input.form-control:-ms-input-placeholder, .navbar.navbar-default .navbar-form .form-group input.form-control:-ms-input-placeholder,
	.navbar.navbar-default .navbar-form input.form-control:-ms-input-placeholder
	{
	color: #555555;
}

.navbar .navbar-form .form-group input.form-control::-webkit-input-placeholder,
	.navbar .navbar-form input.form-control::-webkit-input-placeholder,
	.navbar.navbar-default .navbar-form .form-group input.form-control::-webkit-input-placeholder,
	.navbar.navbar-default .navbar-form input.form-control::-webkit-input-placeholder
	{
	color: #555555;
}

.navbar .dropdown-menu, .navbar.navbar-default .dropdown-menu {
	border-radius: 3px !important;
}

.navbar .dropdown-menu li>a:hover, .navbar .dropdown-menu li>a:focus,
	.navbar.navbar-default .dropdown-menu li>a:hover, .navbar.navbar-default .dropdown-menu li>a:focus
	{
	color: #FFFFFF;
	background-color: #FFFFFF;
	box-shadow: 0 12px 20px -10px rgba(255, 255, 255, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 255, 255, 0.2);
}

.navbar .dropdown-menu .active>a, .navbar.navbar-default .dropdown-menu .active>a
	{
	background-color: #FFFFFF;
	color: #555555;
	box-shadow: 0 12px 20px -10px rgba(255, 255, 255, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 255, 255, 0.2);
}

.navbar .dropdown-menu .active>a:hover, .navbar .dropdown-menu .active>a:focus,
	.navbar.navbar-default .dropdown-menu .active>a:hover, .navbar.navbar-default .dropdown-menu .active>a:focus
	{
	color: #555555;
}

.navbar.navbar-inverse {
	background-color: #212121;
	color: #fff;
}

.navbar.navbar-inverse .navbar-form .form-group input.form-control::-moz-placeholder,
	.navbar.navbar-inverse .navbar-form input.form-control::-moz-placeholder
	{
	color: #fff;
}

.navbar.navbar-inverse .navbar-form .form-group input.form-control:-ms-input-placeholder,
	.navbar.navbar-inverse .navbar-form input.form-control:-ms-input-placeholder
	{
	color: #fff;
}

.navbar.navbar-inverse .navbar-form .form-group input.form-control::-webkit-input-placeholder,
	.navbar.navbar-inverse .navbar-form input.form-control::-webkit-input-placeholder
	{
	color: #fff;
}

.navbar.navbar-inverse .dropdown-menu {
	border-radius: 3px !important;
}

.navbar.navbar-inverse .dropdown-menu li>a:hover, .navbar.navbar-inverse .dropdown-menu li>a:focus
	{
	color: #FFFFFF;
	background-color: #212121;
	box-shadow: 0 12px 20px -10px rgba(33, 33, 33, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(33, 33, 33, 0.2);
}

.navbar.navbar-inverse .dropdown-menu .active>a {
	background-color: #212121;
	color: #fff;
	box-shadow: 0 12px 20px -10px rgba(33, 33, 33, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(33, 33, 33, 0.2);
}

.navbar.navbar-inverse .dropdown-menu .active>a:hover, .navbar.navbar-inverse .dropdown-menu .active>a:focus
	{
	color: #fff;
}

.navbar.navbar-primary {
	background-color: #9c27b0;
	color: #ffffff;
}

.navbar.navbar-primary .navbar-form .form-group input.form-control::-moz-placeholder,
	.navbar.navbar-primary .navbar-form input.form-control::-moz-placeholder
	{
	color: #ffffff;
}

.navbar.navbar-primary .navbar-form .form-group input.form-control:-ms-input-placeholder,
	.navbar.navbar-primary .navbar-form input.form-control:-ms-input-placeholder
	{
	color: #ffffff;
}

.navbar.navbar-primary .navbar-form .form-group input.form-control::-webkit-input-placeholder,
	.navbar.navbar-primary .navbar-form input.form-control::-webkit-input-placeholder
	{
	color: #ffffff;
}

.navbar.navbar-primary .dropdown-menu {
	border-radius: 3px !important;
}

.navbar.navbar-primary .dropdown-menu li>a:hover, .navbar.navbar-primary .dropdown-menu li>a:focus
	{
	color: #FFFFFF;
	background-color: #9c27b0;
	box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.navbar.navbar-primary .dropdown-menu .active>a {
	background-color: #9c27b0;
	color: #ffffff;
	box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.navbar.navbar-primary .dropdown-menu .active>a:hover, .navbar.navbar-primary .dropdown-menu .active>a:focus
	{
	color: #ffffff;
}

.navbar.navbar-success {
	background-color: #4caf50;
	color: #ffffff;
}

.navbar.navbar-success .navbar-form .form-group input.form-control::-moz-placeholder,
	.navbar.navbar-success .navbar-form input.form-control::-moz-placeholder
	{
	color: #ffffff;
}

.navbar.navbar-success .navbar-form .form-group input.form-control:-ms-input-placeholder,
	.navbar.navbar-success .navbar-form input.form-control:-ms-input-placeholder
	{
	color: #ffffff;
}

.navbar.navbar-success .navbar-form .form-group input.form-control::-webkit-input-placeholder,
	.navbar.navbar-success .navbar-form input.form-control::-webkit-input-placeholder
	{
	color: #ffffff;
}

.navbar.navbar-success .dropdown-menu {
	border-radius: 3px !important;
}

.navbar.navbar-success .dropdown-menu li>a:hover, .navbar.navbar-success .dropdown-menu li>a:focus
	{
	color: #FFFFFF;
	background-color: #4caf50;
	box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.navbar.navbar-success .dropdown-menu .active>a {
	background-color: #4caf50;
	color: #ffffff;
	box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.navbar.navbar-success .dropdown-menu .active>a:hover, .navbar.navbar-success .dropdown-menu .active>a:focus
	{
	color: #ffffff;
}

.navbar.navbar-info {
	background-color: #00bcd4;
	color: #ffffff;
}

.navbar.navbar-info .navbar-form .form-group input.form-control::-moz-placeholder,
	.navbar.navbar-info .navbar-form input.form-control::-moz-placeholder {
	color: #ffffff;
}

.navbar.navbar-info .navbar-form .form-group input.form-control:-ms-input-placeholder,
	.navbar.navbar-info .navbar-form input.form-control:-ms-input-placeholder
	{
	color: #ffffff;
}

.navbar.navbar-info .navbar-form .form-group input.form-control::-webkit-input-placeholder,
	.navbar.navbar-info .navbar-form input.form-control::-webkit-input-placeholder
	{
	color: #ffffff;
}

.navbar.navbar-info .dropdown-menu {
	border-radius: 3px !important;
}

.navbar.navbar-info .dropdown-menu li>a:hover, .navbar.navbar-info .dropdown-menu li>a:focus
	{
	color: #FFFFFF;
	background-color: #00bcd4;
	box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.navbar.navbar-info .dropdown-menu .active>a {
	background-color: #00bcd4;
	color: #ffffff;
	box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.navbar.navbar-info .dropdown-menu .active>a:hover, .navbar.navbar-info .dropdown-menu .active>a:focus
	{
	color: #ffffff;
}

.navbar.navbar-warning {
	background-color: #ff9800;
	color: #ffffff;
}

.navbar.navbar-warning .navbar-form .form-group input.form-control::-moz-placeholder,
	.navbar.navbar-warning .navbar-form input.form-control::-moz-placeholder
	{
	color: #ffffff;
}

.navbar.navbar-warning .navbar-form .form-group input.form-control:-ms-input-placeholder,
	.navbar.navbar-warning .navbar-form input.form-control:-ms-input-placeholder
	{
	color: #ffffff;
}

.navbar.navbar-warning .navbar-form .form-group input.form-control::-webkit-input-placeholder,
	.navbar.navbar-warning .navbar-form input.form-control::-webkit-input-placeholder
	{
	color: #ffffff;
}

.navbar.navbar-warning .dropdown-menu {
	border-radius: 3px !important;
}

.navbar.navbar-warning .dropdown-menu li>a:hover, .navbar.navbar-warning .dropdown-menu li>a:focus
	{
	color: #FFFFFF;
	background-color: #ff9800;
	box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.navbar.navbar-warning .dropdown-menu .active>a {
	background-color: #ff9800;
	color: #ffffff;
	box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.navbar.navbar-warning .dropdown-menu .logout>a:focus, .logout>a:hover {
	background-color: white !important;
	color: black !important;
}

.navbar.navbar-warning .dropdown-menu .active>a:hover, .navbar.navbar-warning .dropdown-menu .active>a:focus
	{
	color: #ffffff;
}

.navbar.navbar-danger {
	background-color: #f44336;
	color: #ffffff;
}

.navbar.navbar-danger .navbar-form .form-group input.form-control::-moz-placeholder,
	.navbar.navbar-danger .navbar-form input.form-control::-moz-placeholder
	{
	color: #ffffff;
}

.navbar.navbar-danger .navbar-form .form-group input.form-control:-ms-input-placeholder,
	.navbar.navbar-danger .navbar-form input.form-control:-ms-input-placeholder
	{
	color: #ffffff;
}

.navbar.navbar-danger .navbar-form .form-group input.form-control::-webkit-input-placeholder,
	.navbar.navbar-danger .navbar-form input.form-control::-webkit-input-placeholder
	{
	color: #ffffff;
}

.navbar.navbar-danger .dropdown-menu {
	border-radius: 3px !important;
}

.navbar.navbar-danger .dropdown-menu li>a:hover, .navbar.navbar-danger .dropdown-menu li>a:focus
	{
	color: #FFFFFF;
	background-color: #f44336;
	box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.navbar.navbar-danger .dropdown-menu .active>a {
	background-color: #f44336;
	color: #ffffff;
	box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.navbar.navbar-danger .dropdown-menu .active>a:hover, .navbar.navbar-danger .dropdown-menu .active>a:focus
	{
	color: #ffffff;
}

.navbar .navbar-brand {
	height: 50px;
	padding: 10px 15px;
}

.navbar .navbar-nav>li>a {
	padding-top: 15px;
	padding-bottom: 15px;
}

}
.navbar .alert {
	border-radius: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 85px;
	width: 100%;
	z-index: 3;
	transition: all 0.3s;
}

.popover, .tooltip-inner {
	color: #555555;
	line-height: 1.5em;
	background: #FFFFFF;
	border: none;
	border-radius: 3px;
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px
		rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.popover {
	padding: 0;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px
		rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.popover.left>.arrow, .popover.right>.arrow, .popover.top>.arrow,
	.popover.bottom>.arrow {
	border: none;
}

.popover-title {
	background-color: #FFFFFF;
	border: none;
	padding: 15px 15px 5px;
	font-size: 1.3em;
}

.popover-content {
	padding: 10px 15px 15px;
	line-height: 1.4;
}

footer {
	padding: 15px 0;
}

footer ul {
	margin-bottom: 0;
	padding: 0;
	list-style: none;
}

footer ul li {
	display: inline-block;
}

footer ul li a {
	color: inherit;
	padding: 15px;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 3px;
	text-decoration: none;
	position: relative;
	display: block;
}

footer ul li a:hover {
	text-decoration: none;
}

footer .copyright {
	padding: 15px 0;
	margin: 0;
}

footer .copyright .material-icons {
	font-size: 18px;
	position: relative;
	top: 3px;
}

footer .btn {
	margin-top: 0;
	margin-bottom: 0;
}

.dropdown-menu {
	border: 0;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.dropdown-menu .divider {
	background-color: rgba(0, 0, 0, 0.12);
}

.dropdown-menu li>a {
	font-size: 13px;
	padding: 10px 20px;
	margin: 0 5px;
	border-radius: 2px;
	-webkit-transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	transition: all 150ms linear;
}

.dropdown-menu li>a:hover, .dropdown-menu li>a:focus {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px
		rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.dropdown-menu.dropdown-with-icons li>a {
	padding: 12px 20px 12px 12px;
}

.dropdown-menu.dropdown-with-icons li>a .material-icons {
	vertical-align: middle;
	font-size: 24px;
	position: relative;
	margin-top: -4px;
	top: 1px;
	margin-right: 12px;
	opacity: .5;
}

.dropdown-menu li {
	position: relative;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active
	{
	background-color: #9c27b0;
	color: #FFFFFF;
}

.dropdown-menu .divider {
	margin: 5px 0;
}

.card {
	display: inline-block;
	position: relative;
	width: 100%;
	margin: 25px 0;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	border-radius: 3px;
	color: rgba(0, 0, 0, 0.87);
	background: #fff;
}

.card .card-height-indicator {
	margin-top: 100%;
}

.card .title {
	margin-top: 0;
	margin-bottom: 5px;
}

.card .card-image {
	height: 60%;
	position: relative;
	overflow: hidden;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: -30px;
	border-radius: 6px;
}

.card .card-image img {
	width: 100%;
	height: 100%;
	border-radius: 6px;
	pointer-events: none;
}

.card .card-image .card-title {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: #fff;
	font-size: 1.3em;
	text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card .category:not ([class*="text-"] ) {
	color: #999999;
}

.card .card-content {
	padding: 15px 20px;
}

.card .card-content .category {
	margin-bottom: 0;
}

.card .card-header {
	box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px
		rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	margin: -20px 15px 0;
	border-radius: 3px;
	padding: 15px;
	background-color: #999999;
}

.card .card-header .btn-align-right {
	background-color: #ffa726 !important;
}

.card .card-header .title {
	color: #FFFFFF;
}

.card .card-header .category {
	margin-bottom: 0;
	color: rgba(255, 255, 255, 0.62);
}

.card .card-header.card-chart {
	padding: 0;
	min-height: 160px;
}

.card .card-header.card-chart+.content h4 {
	margin-top: 0;
}

.card .card-header .ct-label {
	color: rgba(255, 255, 255, 0.7);
}

.card .card-header .ct-grid {
	stroke: rgba(255, 255, 255, 0.2);
}

.card .card-header .ct-series-a .ct-point, .card .card-header .ct-series-a .ct-line,
	.card .card-header .ct-series-a .ct-bar, .card .card-header .ct-series-a .ct-slice-donut
	{
	stroke: rgba(255, 255, 255, 0.8);
}

.card .card-header .ct-series-a .ct-slice-pie, .card .card-header .ct-series-a .ct-area
	{
	fill: rgba(255, 255, 255, 0.4);
}

.card .chart-title {
	position: absolute;
	top: 25px;
	width: 100%;
	text-align: center;
}

.card .chart-title h3 {
	margin: 0;
	color: #FFFFFF;
}

.card .chart-title h6 {
	margin: 0;
	color: rgba(255, 255, 255, 0.4);
}

.card .card-footer {
	margin: 0 20px 10px;
	padding-top: 10px;
	border-top: 1px solid #eeeeee;
}

.card .card-footer .content {
	display: block;
}

.card .card-footer div {
	display: inline-block;
}

.card .card-footer .author {
	color: #999999;
}

.card .card-footer .stats {
	line-height: 22px;
	color: #999999;
	font-size: 12px;
}

.card .card-footer .stats .material-icons {
	position: relative;
	top: 4px;
	font-size: 16px;
}

.card .card-footer h6 {
	color: #999999;
}

.card img {
	width: 100%;
	height: auto;
}

.card .category .material-icons {
	position: relative;
	top: 6px;
	line-height: 0;
}

.card .category-social .fa {
	font-size: 24px;
	position: relative;
	margin-top: -4px;
	top: 2px;
	margin-right: 5px;
}

.card .author .avatar {
	width: 30px;
	height: 30px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 5px;
}

.card .author a {
	color: #3C4858;
	text-decoration: none;
}

.card .author a .ripple-container {
	display: none;
}

.card .table {
	margin-bottom: 0;
}

.card .table tr:first-child td {
	border-top: none;
}

.card [data-background-color="purple"] {
	background: linear-gradient(60deg, #ab47bc, #8e24aa);
	box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.card [data-background-color="blue"] {
	background: linear-gradient(60deg, #26c6da, #00acc1);
	box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.card [data-background-color="green"] {
	background: linear-gradient(60deg, #66bb6a, #43a047);
	box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.card [data-background-color="orange"] {
	background: linear-gradient(60deg, #ffa726, #fb8c00);
	box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.card [data-background-color="red"] {
	background: linear-gradient(60deg, #ef5350, #e53935);
	box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px
		rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.card [data-background-color] {
	color: #FFFFFF;
}

.card [data-background-color] a {
	color: #FFFFFF;
}

.card-stats .title {
	margin: 0;
}

.card-stats .card-header {
	float: left;
	text-align: center;
}

.card-stats .card-header i {
	font-size: 36px;
	line-height: 56px;
	width: 56px;
	height: 56px;
	cursor:default !important;
	
}

.card-stats .card-content {
	text-align: right;
	padding-top: 10px;
}

.card-nav-tabs .header-raised {
	margin-top: -30px;
}

.card-nav-tabs .nav-tabs {
	background: transparent;
	padding: 0;
}

.card-nav-tabs .nav-tabs-title {
	float: left;
	padding: 10px 10px 10px 0;
	line-height: 24px;
}
.card-nav-tabs .nav-tabs-titles{
	float: left;
	padding: 10px 10px 10px 0;
	line-height:0px;
}
.card-plain {
	background: transparent;
	box-shadow: none;
}

.card-plain .card-header {
	margin-left: 0;
	margin-right: 0;
}

.card-plain .content {
	padding-left: 5px;
	padding-right: 5px;
}

.card-plain .card-image {
	margin: 0;
	border-radius: 3px;
}

.card-plain .card-image img {
	border-radius: 3px;
}

.inactiveLink {
	pointer-events: none;
	cursor: default;
}

.nav-tabs {
	border: 0;
	border-radius: 3px;
	padding: 0 0px;
}

.nav-tabs>li>a {
	color: #FFFFFF;
	border: 0;
	margin: 0;
	border-radius: 3px;
	line-height: 24px;
	text-transform: uppercase;
	font-size: 12px;
}

.nav-tabs>li>a:hover {
	background-color: transparent;
	border: 0;
}

.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	background-color: transparent;
	border: 0 !important;
	color: #FFFFFF !important;
	font-weight: 500;
}

.nav-tabs>li.disabled>a, .nav-tabs>li.disabled>a:hover {
	color: rgba(255, 255, 255, 0.5);
}

.nav-tabs>li .material-icons {
	margin: -1px 5px 0 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
	{
	background-color: rgba(255, 255, 255, 0.2);
	transition: background-color .1s .2s;
}

body>.navbar-collapse.collapse {
	display: none !important;
}

.card form [class*="col-"] {
	padding: 6px;
}

.card form [class*="col-"]:first-child {
	padding-left: 15px;
}

.card form [class*="col-"]:last-child {
	padding-right: 15px;
}

/*         Changes for small display      */
@media ( max-width : 991px) {
	.sidebar {
		display: none;
		box-shadow: none;
	}
	.sidebar .sidebar-wrapper {
		padding-bottom: 60px;
	}
	.sidebar .nav-mobile-menu {
		margin-top: 0;
	}
	.sidebar .nav-mobile-menu .notification {
		float: left;
		line-height: 30px;
		margin-right: 8px;
	}
	.sidebar .nav-mobile-menu .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.main-panel {
		width: 100%;
	}
	.navbar-transparent {
		padding-top: 15px;
		background-color: rgba(0, 0, 0, 0.45);
	}
	body {
		position: relative;
	}
	.main-panel {
		-webkit-transform: translate3d(0px, 0, 0);
		-moz-transform: translate3d(0px, 0, 0);
		-o-transform: translate3d(0px, 0, 0);
		-ms-transform: translate3d(0px, 0, 0);
		transform: translate3d(0px, 0, 0);
		-webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
		-moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
		-o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
		-ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
		transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
		left: 0;
	}
	.navbar .container {
		left: 0;
		width: 100%;
		-webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
		-moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
		-o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
		-ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
		transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
		position: relative;
	}
	.navbar-nav>li {
		float: none;
		position: relative;
		display: block;
	}
	.al {
	margin-left: 12px;
	}
	.nau-tabs>li>a {
	color: #FFFFFF;
	border: 0;
	margin: 0;
	border-radius: 3px;
	line-height: 10px;
	text-transform: uppercase;
	font-size: 12px;
	width: 200px;
}
	}
}