<html>  
	<body>  
		<h3>The following stack has been $status by $user.userName</h3>  
			<table>
			<tr><th>Stack Name</th><td>$stack.name</td></tr>
			<tr><th>Stack ID</th><td>$stack.id</td></tr>
			<tr><th>Creation Date</th><td>$stack.createdDate</td></tr>
			<tr><th>Updated Date</th><td>$stack.updatedDate</td></tr>
			$appURL
		</table>  
	</body>  
</html>