<div class="modal-header modal-header-primary">
			<button type="button" class="close"
		data-ng-click="cancel()">&times;</button>
</div>
<div class="modal-body" id="modal-body">
		<div data-ng-show="isAssignedSuccess" class="alert" data-ng-class="{'alert-success' : isAssignedSuccess, 'alert-danger' : !isAssignedSuccess}">
		    {{message}}
		</div>
		<div class="card ">
			<div class="card-header" data-background-color="purple">
				<div class="row">
					<div class="col-lg-6 col-sm-12 padding-all-medium">
						<h4 class="title">Assign stack</h4>
					</div>
				</div>
			</div>
  			<div class="content">
				<div class="row">
					<table class="table">
						<thead>
							<tr>
								<th></th>
								<th>User Id</th>
								<th class="hidden-sm hidden-xs">Name</th>
								<th class="hidden-sm hidden-xs">Email</th>
								<th class="hidden-sm hidden-xs">Role</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="user in user_list">
							   <td><input type="radio" name="assignUser" data-ng-value="user.id" data-ng-model="$parent.isAssigned"></td>
								<td><strong>{{ user.userName }}</strong></td>
								<td class="hidden-sm hidden-xs">{{user.firstName}}&nbsp;&nbsp;{{user.lastName}}</td>
								<td class="hidden-sm hidden-xs">{{user.email}}</td>
								<td class="hidden-sm hidden-xs">{{user.role.name}}</td>			
								
							</tr>
						</tbody>
					</table>	
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" data-ng-click="assignStackToUser()">Save</button>
		<button class="btn btn-warning" type="button" data-ng-click="cancel()">Cancel</button>
	</div>