<div class="modal-header modal-header-primary">
		<span class="nav-tabs-title">STACK NAME : {{currentStack.name}}</span>
			<button type="button" class="close"
		data-ng-click="cancel()">&times;</button>
</div>
	<div class="modal-body" id="modal-body">
		<div  class="card card-nav-tabs">
			<div class="card-header" data-background-color="purple">
				<div class="nav-tabs-navigation">
					<div class="nav-tabs-wrapper">
						<ul class="nav nav-tabs" data-tabs="tabs">
							<li class="active">
								<a href="" data-toggle="tab">
									<div><b>Applications : </b>{{currentStack.applications.length}}</div>
									<div class="ripple-container"></div>
								</a>
							</li>
							<li>&nbsp;</li>
							<li class="active">
								<a href="" data-toggle="tab">
									<div><b>Overall Cost : </b>$&nbsp;{{totalCost}}</div>
									<div class="ripple-container"></div>
								</a>
							</li>
							<li>&nbsp;</li>
							<li class="active">
								<a href="" data-toggle="tab">
									<div><b>Live Instances : </b>{{currentStack.instance_count}}</div>
									<div class="ripple-container"></div>
								</a>
							</li>
						</ul>
						<br/>
						<span class="nav-tabs-title" data-tabs="tabs">Cost Summary:</span><br/>
						<p class="category"><small>(Costs shown are approximates, based on standard usage and costs. Actuals may slightly vary)</small></p>
					</div>
				</div>
			</div>

			<div class="card-content">
				<div class="tab-content">
					<div class="tab-pane active" id="profile">
						<table class="table">
							<thead>
								<tr>
									<th>application</th>
									<th>Instance name</th>
									<th>Instance size</th>
									<th>Usage</th>
									<th>Overall Cost</th>
								</tr>
							</thead>
							<tbody  data-ng-repeat="application in currentStack.applications">
									<tr data-ng-repeat="instance in application.instances">
										<td><strong>{{ application.appId }}</strong></td>
										<td>{{instance.resourceType}}</td>
										<td>{{instance.instanceType}}</td>
										<td>{{instance.status}}</td>
										<td>${{instance.cost}}</td>
									</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>