<div class="modal-header modal-header-primary">
			<button type="button" class="close"
		data-ng-click="cancel()">&times;</button>
</div>
<div class="modal-body" id="modal-body">
		<div class="card ">
			<div class="card-header" data-background-color="purple">
				<div class="row">
					<div class="col-lg-12 col-sm-12 padding-all-medium">
						<h4 class="title">{{title}}</h4>
						<p class="category">Enter details of the user</p>
					</div>
				</div>
			</div>
  			<div class="content">
				<div class="row">
					<div class="form-group col-lg-6 col-sm-12">
						<div class="row">
							<div class="col-lg-6 col-sm-12 padding-all-medium">
								<label for="userFirstName">First Name *</label>
							</div>
							<div class="col-lg-6 col-sm-12 padding-all-medium">
								<input type="text" name="userFirstName" data-ng-model="user.firstName" required>
							</div>
						</div>
					</div>
					<div class="form-group col-lg-6 col-sm-12">
						<div class="row">
							<div class="col-lg-6 col-sm-12 padding-all-medium">
								<label for="userLastName">Last Name *</label>
							</div>
							<div class="col-lg-6 col-sm-12 padding-all-medium">
								<input type="text" name="userLastName" data-ng-model="user.lastName" required>
							</div>
						</div>
					</div>
					<div class="form-group col-lg-6 col-sm-12">
						<div class="row">
							<div class="col-lg-6 col-sm-12 padding-all-medium">
								<label for="username">Username *</label>
							</div>
							<div class="col-lg-6 col-sm-12 padding-all-medium">
								<input class="textbox_pos" type="text" name="username" data-ng-model="user.userName" required>
							</div>
						</div>
					</div>
					<div class="form-group col-lg-6 col-sm-12">
						<div class="row">
							<div class="col-lg-6 col-sm-12 padding-all-medium">
								<label for="email">Email *</label>
							</div>
							<div class="col-lg-6 col-sm-12 padding-all-medium">
								<input type="text" name="email" data-ng-model="user.email" required>
							</div>
						</div>
					</div>
					<div class="form-group col-lg-6 col-sm-12">
						<div class="row">
							<div class="col-lg-6 col-sm-12 padding-all-medium">
								<label for="userRole">Role</label>
							</div>
							<div class="col-lg-6 col-sm-12 padding-all-medium">
								<div ng-repeat="role in roles track by $index">
									<input type="radio" name="userRole" data-ng-model="user.roleId" data-ng-value="role.id">
									<label for="role.id">{{role.name}}</label> &nbsp;&nbsp;&nbsp; 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="saveUser()">Save</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>