<div class="modal-header modal-header-primary">
			<button type="button" class="close"
		data-ng-click="cancel()">&times;</button>
</div>
<div class="modal-body" id="modal-body">
		<div class="card ">
			<div class="card-header" data-background-color="purple">
				<div class="row">
					<div class="col-lg-12 col-sm-12 padding-all-medium">
						<h4 class="title">{{title}}</h4>
						<p class="category">Enter details of the Group</p>
					</div>
				</div>
			</div>
  			<div class="content">
				<div class="row">
				<div data-ng-show="isAddedSuccess||isAddedFail" class="alert" data-ng-class="{'alert-success' : isAddedSuccess, 'alert-danger' : isAddedFail}">
				{{message}}
				</div>
					<div class="form-group col-lg-6 col-sm-12">
						<div class="row">
							<div class="col-lg-6 col-sm-12 padding-all-medium">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<label for="name" class="al">Group Name *</label>
							</div>
							<div class="col-lg-6 col-sm-12 padding-all-medium">
								<input class="textbox_pos" type="text" name="name" data-ng-model="group.name" required>
							</div>
						</div>
					</div>
										
					<div class="form-group col-lg-6 col-sm-12">
						<div class="row">
							<div class="col-lg-6 col-sm-12 padding-all-medium">
										&nbsp;&nbsp;&nbsp;&nbsp;
								<label for="admin" class="al">Group Admin Name *</label>
							</div>
							<div class="col-lg-6 col-sm-12 padding-all-medium">
								<input type="text" name="admin" data-ng-keyup="search(group.admin)" list="uValues" data-ng-model="group.admin" required>
								<datalist id="uValues">
   									<option data-ng-repeat="u in filteredList" value="{{u.email}}"></option>
								</datalist>
							</div>
							</div>
						</div>
					</div>
					<div class="content">
				<div class="row">
					<div class="col-lg-6 col-xs-12">
						<!-- <table class="table">
							<thead>
								<tr>
									<th width="70%">
										Add Users to Group
										<input type="text" ng-model="user_search" class="form-control" placeholder="Search">
									</th>
									<th width="30%"> Add </th>
								</tr>
								
							</thead> 
							<tbody>
								<tr data-ng-repeat="user in user_list | filter:user_search">
									<td>{{user.firstName}}&nbsp;&nbsp;{{user.lastName}}<br/><small>{{user.email}}</small></td>
									<td><span class="fa hand-cursor fa-plus" ng-click="addUserToGroup(user.id)"></span></td>			
								</tr>
							</tbody>
						</table> -->
						 <table class="table">
							<thead>
								<tr>
									<th width="70%">
										Add Users to Group
										<input type="text" ng-model="available_user_search" class="form-control" placeholder="Search">
									</th>
									<th width="30%"> Add </th>
								</tr>
								<tr>
									<th colspan="5">
										<div class="text-center">
											<dir-pagination-controls pagination-id="available_user_list"
												on-page-change="getAvailableUsersData(newPageNumber)"
												direction-links="true" boundary-links="true"></dir-pagination-controls>
										</div>
									</th>
								</tr>
								
							</thead> 
							<tbody>
								<tr dir-paginate="user in availableUserList | filter:available_user_search | itemsPerPage:5"
												total-items="totAvailableCount" pagination-id="available_user_list">
									<td>{{user.firstName}}&nbsp;&nbsp;{{user.lastName}}<br/><small>{{user.email}}</small></td>
									<td><span class="fa hand-cursor fa-plus" ng-click="addUserToGroup(user.id)"></span></td>			
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-lg-6 col-xs-12">
						<!-- <table class="table">
							<thead>
								<tr>
									<th width="70%">
										Added Users
									    <input type="text" ng-model="added_user_search" class="form-control" placeholder="Search">
									</th> 
									<th width="30%"> Remove </th>
							</thead>
							<tbody>
								<tr data-ng-repeat="user in added_user_list | filter:added_user_search">
									<td>{{user.firstName}}&nbsp;&nbsp;{{user.lastName}}<br/><small>{{user.email}}</small></td>
									<td><span class="fa hand-cursor fa-trash" ng-click="removeAddedUser(user.id)"></span></td>
								</tr>
							</tbody>
						</table> -->
						<table class="table">
							<thead>
								<tr>
									<th width="70%">
										Added Users
									    <input type="text" ng-model="added_user_search" class="form-control" placeholder="Search">
									</th> 
									<th width="30%"> Remove </th>
								</tr>
								<tr>
									<th colspan="5">
										<div class="text-center">
											<dir-pagination-controls pagination-id="added_user_list"
												on-page-change="getAddedUsersData(newPageNumber)"
												direction-links="true" boundary-links="true"></dir-pagination-controls>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate="user in addedUserList | filter:added_user_search | itemsPerPage:5"
												total-items="totAddedCount" pagination-id="added_user_list">
									<td>{{user.firstName}}&nbsp;&nbsp;{{user.lastName}}<br/><small>{{user.email}}</small></td>
									<td><span class="fa hand-cursor fa-trash" ng-click="removeAddedUser(user.id)"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>							
						
				<!--adding user end-->
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="saveOrEditGroup()">Save</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
	</div>