<div class="modal-header modal-header-primary">
			<button type="button" class="close"
		data-ng-click="cancel()">&times;</button>
</div>
<div class="modal-body" id="modal-body">
		<div data-ng-show="isAssignedSuccess" class="alert" data-ng-class="{'alert-success' : isAssignedSuccess, 'alert-danger' : !isAssignedSuccess}">
		    {{message}}
		</div>
		<div class="card ">
			<div class="card-header" data-background-color="purple">
				<div class="row">
					<div class="col-lg-6 col-sm-6 padding-all-medium">
						<h4 class="title">{{title}}</h4>
					</div>
				</div>
			</div>
  			<div class="content">
				<div class="row">
					<div class="col-lg-6 col-xs-12">
						<table class="table">
							<thead>
								<tr>
									<th width="70%">
										Share to users / group
										<input type="text" ng-model="user_search" class="form-control" placeholder="Search">
									</th>
									<th width="30%">Share</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="user in filteredUserData = (user_list | filter:{userName:user_search})">
									<td>{{user.firstName}}&nbsp;&nbsp;{{user.lastName}}&nbsp;<i class="fa fa-user" aria-hidden="true"></i><br/><small>{{user.email}}</small></td>
									<td><span class="hand-cursor fa fa-plus" ng-click="shareStackToUser(user.id)"></span></td>
								</tr>
								<tr data-ng-repeat="group in filteredGrpData = (un_shared_group_list | filter:{name :user_search})">
									<td>{{group.name}}&nbsp;<i class="fa fa-users" aria-hidden="true"></i><br/><small>{{group.admin}}</small></td>
									<td><span class="hand-cursor fa fa-plus" ng-click="shareStackToGroup(group.id)"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-lg-6 col-xs-12">
						<table class="table">
							<thead>
								<tr>
									<th width="70%">
										Shared Users / group
									    <input type="text" ng-model="shared_user_search" class="form-control" placeholder="Search">
									</th> 
									<th width="30%">Remove</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="user in filteredUserData = (shared_user_list | filter:{userName:shared_user_search})">
									<td>{{user.firstName}}&nbsp;&nbsp;{{user.lastName}}&nbsp;<i class="fa fa-user" aria-hidden="true"></i><br/><small>{{user.email}}</small></td>
									<td><span class="hand-cursor fa fa-trash" ng-click="removeSharedUser(user.id)"></span></td>
								</tr>
								<tr data-ng-repeat="group in filteredGrpData = (shared_group_list | filter:{name :shared_user_search})">
									<td>{{group.name}}&nbsp;<i class="fa fa-users" aria-hidden="true"></i><br/><small>{{group.admin}}</small></td>
									<td><span class="hand-cursor fa fa-trash" ng-click="removeSharedGroup(group.id)"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row padding-all-medium">
					<button class="btn btn-warning pull-right" type="button" data-ng-click="cancel()">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		
	</div>