<div class="modal-header modal-header-primary">
			<button type="button" class="close"
		data-ng-click="cancel()">&times;</button>
</div>
<div class="modal-body" id="modal-body">
		<div class="card ">
			<div class="card-header" data-background-color="purple">
				<div class="row">
					<div class="col-lg-12 col-sm-12 padding-all-medium">
						<h4 class="title">Unused Instances Details {{unusedInstanceCount}}</h4>
					</div>
				</div>
			</div>
  			<div class="content">
				<div class="row">
					<hr/>
					<table class="table">
						<thead>
						<tr><div>
						<input type="text" ng-model="instance_search" class="form-control" placeholder="instance search">
							</div>
						</tr>
							<tr>
								<div>
									<dir-pagination-controls pagination-id="instance_list"></dir-pagination-controls>
								</div>
							</tr>
							<tr>
								<th>Instance Id</th>
								<th class="hidden-sm hidden-xs">Size</th>
								<th class="hidden-sm hidden-xs">IP Address</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr dir-paginate= "instance in res | filter:instance_search | itemsPerPage:5:'instance_list'" pagination-id="instance_list" class="hand-cursor">
								<td><strong>{{ instance.instanceId }}</strong></td>
								<td class="hidden-sm hidden-xs">{{instance.instanceType}}</td>
								<td class="hidden-sm hidden-xs">Private IP : <br/>
									{{instance.privateIp}}<br/>
									Public IP : {{instance.publicIp}}
								</td>			
								<td>{{instance.status}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" type="button" data-ng-click="cancel()">Close</button>
	</div>