<div class="modal-header modal-header-primary">
			<button type="button" class="close"
		data-ng-click="cancel()">&times;</button>
</div>
<div class="modal-body" id="modal-body">
		<div class="card ">
			<div class="card-header" data-background-color="purple">
				<div class="row">
					<div class="col-lg-6 col-sm-12 padding-all-medium">
						<h4 class="title">Delete Stack</h4>
						</div>
				</div>
			</div>
  			<div class="content">
				Are you sure you want to delete <b>{{currentStack.name}}</b>?
			</div>
		</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" data-ng-click="ok()">Ok</button>
		<button class="btn btn-warning" type="button" data-ng-click="cancel()">Cancel</button>
	</div>
</div>