<div class="modal-header modal-header-primary">
			<button type="button" class="close"
		data-ng-click="cancel()">&times;</button>
</div>
<div class="modal-body" id="modal-body">
	<div class="card ">
		 <div class="card-header" data-background-color="orange">
			<div class="row">
				<div class="col-sm-6">
					<span class="nav-tabs-title">Cost Trend</span>
				</div>
				<div class="col-sm-6 pull-right">
					<!-- <p class="category">{{fromMonth}} - {{toMonth}}</p> -->
					<p class="category pull-right">Select date to customize report</p>
					<dpdaterangepicker ng-model="selectedRange" options="opt" class="pull-right"></dpdaterangepicker>
				</div>
			</div>
        </div>
		<div class="content">
    			<div id="stacksCostHistoryChart" class="ct-chart">
		</div>
   		<div class="footer">
       		<div class="legend">
            	<i class="fa fa-circle text-info"></i> Instance Costs
       		</div>
   		</div>
	</div>
</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" data-ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" data-ng-click="cancel()">Cancel</button>
</div>