<div class="modal-header modal-header-primary">
			<button type="button" class="close"
		data-ng-click="cancel()">&times;</button>
</div>
<div class="modal-body" id="modal-body">
		<div class="card ">
			<div class="card-header" data-background-color="purple">
				<div class="row">
					<div class="col-lg-12 col-sm-12 padding-all-medium">
						<h4 class="title">{{modalTitle}}</h4>
					</div>
				</div>
			</div>
  			<div class="content">
				<div class="row">
					<div class="row">
						<div class="col-xs-12 text-right padding-all-medium" data-ng-show="cpuData != null && networkData != null">
							<span data-ng-click="hideGraph()">Hide graph&nbsp;&nbsp;&nbsp;&nbsp;</span>
						</div>
						<div class="col-lg-6 col-xs-6"  data-ng-show="cpuData != null">
							<p class="text-center">CPU Metrics</p>
							<div id="instanceCPUMetrics" class="ct-chart"></div>
						</div>
						<div class="col-lg-6 col-xs-6"  data-ng-show="networkData != null">
							<p class="text-center">Network In</p>
							<div id="instanceNetworkinMetrics" class="ct-chart"></div>
						</div>
					</div>
					<hr/>
					<table class="table">
						<thead>
							<tr>
								<th>Instance Id</th>
								<th class="hidden-sm hidden-xs">Size</th>
								<th class="hidden-sm hidden-xs">IP Address</th>
								<th>Status</th>
								<th>Metrics</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="instance in instance_list">
								<td><strong>{{ instance.instanceId }}</strong></td>
								<td class="hidden-sm hidden-xs">{{instance.instanceType}}</td>
								<td class="hidden-sm hidden-xs">Private IP : <br/>
									{{instance.privateIp}}<br/>
									Public IP : {{instance.publicIp}}
								</td>			
								<td>{{instance.status}}</td>
								<td>
									<span class="fa fa-bar-chart" data-ng-click="loadInstanceMetrics(instance.instanceId)"></span>
								</td>
								<td data-ng-show="!currentStack.envType">
									<span class="fa fa-play" data-ng-click="startInstance(instance.instanceId, $index)" data-ng-show="instance.status != 'TERMINATED' && instance.status == 'stopped'"></span>
									<span class="fa fa-stop" data-ng-click="stopInstance(instance.instanceId, $index)" data-ng-show="instance.status != 'TERMINATED' && instance.status == 'running'"></span>
									<span class="fa fa-spinner" data-ng-show="instance.status != 'TERMINATED' && instance.status == 'pending'"></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" type="button" data-ng-click="cancel()">Close</button>
	</div>