<div class="modal-header modal-header-primary">
			<button type="button" class="close"
		data-ng-click="cancel()">&times;</button>
</div>
<div class="modal-body" id="modal-body">
		<div class="card ">
			<div class="card-header" data-background-color="purple">
				<div class="row">
					<div class="col-lg-6 col-sm-12 padding-all-medium">
						<h4 class="title">{{modalTitle}}</h4>
					</div>
				</div>
			</div>
  			<div class="content">
				<div class="row">
					<div class="col-lg-12 col-sm-12 card-content">
						<p>Selected Application : <b>{{app.appId.toUpperCase()}}</b></p>
						<p>Build Id : <b>{{app.newBuild ? 'New Build' : app.buildId}}</b></p>
						<p>Create DB : <b>{{app.newDB ? 'Yes' : 'No'}}</b></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" data-ng-click="ok()">Ok</button>
		<button class="btn btn-warning" type="button" data-ng-click="cancel()">Cancel</button>
	</div>