<script src="/js/app.js"></script>
<div class="wrapper">
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="orange">
							<i class="fa fa-pie-chart"></i>
						</div>
						<div class="card-content">
							<p class="category">Stacks</p>
							<h3 class="title" data-ng-bind="stackList.length" ng-show="{{stackList != null}}"></h3>
							<h3 class="title" ng-show="{{stackList == null}}">0</h3>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="fa fa-list">&nbsp;View</i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="orange">
							<i class="fa fa-laptop"></i>
						</div>
						<div class="card-content">
							<p class="category">Instances</p>
							<h3 class="title" data-ng-bind="instanceCount"></h3>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="fa fa-list" ng-click="showInstanceStatistics()">&nbsp;View</i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="green">
							<i class="fa fa-gear"></i>
						</div>
						<div class="card-content">
							<p class="category">Cost <small>(till date)</small></p>
							<h3 class="title">${{totalCost}}</h3>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="fa fa-list" ng-click="showStackCostHistory()">&nbsp;View</i>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="col-lg-6 col-md-12">
					<div class="card">
						<div class="card-header" data-background-color="orange">
							<h4 class="title">BUILD DETAILS</h4>
							<p class="category">Build details of applications</p>
						</div>
						<div class="card-content table-responsive">
							<table class="table table-hover">
								<thead class="text-warning">
									<th>Name</th>
									<th>Last successful build</th>
								</thead>
								<tbody>
									<tr data-ng-repeat="app in appList">
										<td data-ng-bind="app.id"></td>
										<td data-ng-bind="app.buildInfo[0]"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			<div class="col-lg-6 col-md-12">
	               <div class="card ">
	                   <div class="card-header" data-background-color="orange">
	                       <span class="nav-tabs-title">Cost Report
	                       </span>
	                       <p class="category">Aug 2016 - Jan 2016</p>
	                   </div>
	                   <div class="content">
	                       <div id="usageStatses" class="ct-chart"></div>
	                       <div class="footer">
	                           <div class="legend">
	                               <i class="fa fa-circle text-info"></i>Count of Stack
	                             <!--   <i class="fa fa-circle text-danger"></i> Stacks Launched -->
	                           </div>
	                       </div>
	                   </div>
	               </div>
				</div>
				<div class="col-lg-6 col-md-12">
	               <div class="card ">
	                   <div class="card-header" data-background-color="orange">
	                       <span class="nav-tabs-title">Count of Stack Report
	                       </span>
	                       <p class="category">Aug 2016 - Jan 2016</p>
	                   </div>
	                   <div class="content">
	                       <div id="usageStats" class="ct-chart"></div>
	                       <div class="footer">
	                           <div class="legend">
	                               <i class="fa fa-circle text-info"></i>Totalcost
	                               <!-- <i class="fa fa-circle text-danger"></i> Stacks Launched -->
	                           </div> 
	                       </div>
	                   </div>
	               </div>
				</div>
				<div class="col-lg-6 col-md-12">
	               <div class="card ">
	                   <div class="card-header" data-background-color="orange">
	                       <span class="nav-tabs-title">Cost Report per Stack
	                       </span>
	                       <p class="category">Aug 2016 - Jan 2016</p>
	                   </div>
	                   <div class="content">
	                       <div id="usageStacks" class="ct-chart"></div>
	                       <div class="footer">
	                           <div class="legend">
	                               <i class="fa fa-circle text-info"></i>Cost of Stack
	                             <!--   <i class="fa fa-circle text-danger"></i> Stacks Launched -->
	                           </div>
	                       </div>
	                   </div>
	               </div>
				</div>
				<div class="col-lg-6 col-md-12">
	               <div class="card ">
	                   <div class="card-header" data-background-color="orange">
	                       <span class="nav-tabs-title">Cost Report per Group
	                       </span>
	                       <p class="category">Aug 2016 - Jan 2016</p>
	                   </div>
	                   <div class="content">
	                       <div id="groupCost" class="ct-chart"></div>
	                       <div class="footer">
	                           <div class="legend">
	                               <i class="fa fa-circle text-info"></i>Cost of Group
	                             <!--   <i class="fa fa-circle text-danger"></i> Stacks Launched -->
	                           </div>
	                       </div>
	                   </div>
	               </div>
				</div>
					</div> 
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="cost_report_modal.html">
	<div class="modal-header">
		<span class="nav-tabs-title">STACK NAME : {{currentStack.name}}</span>
	</div>
	<div class="modal-body" id="modal-body">
		<div  class="card card-nav-tabs">
			<div class="card-header" data-background-color="purple">
				<div class="nav-tabs-navigation">
					<div class="nav-tabs-wrapper">
						<ul class="nav nav-tabs" data-tabs="tabs">
							<li class="active">
								<a href="" data-toggle="tab">
									<div><b>Applications : </b>{{currentStack.applications.length}}</div>
									<div class="ripple-container"></div>
								</a>
							</li>
							<li>&nbsp;</li>
							<li class="active">
								<a href="" data-toggle="tab">
									<div><b>Overall Cost : </b>$&nbsp;{{currentStack.totalCost}}</div>
									<div class="ripple-container"></div>
								</a>
							</li>
							<li>&nbsp;</li>
							<li class="active">
								<a href="" data-toggle="tab">
									<div><b>Live Instances : </b>{{currentStack.instance_count}}</div>
									<div class="ripple-container"></div>
								</a>
							</li>
						</ul>
						<br/>
						<span class="nav-tabs-title" data-tabs="tabs">Cost Summary:</span><br/>
						<p class="category"><small>(Costs shown are approximates, based on standard usage and costs. Actuals may slightly vary)</small></p>
					</div>
				</div>
			</div>

			<div class="card-content">
				<div class="tab-content">
					<div class="tab-pane active" id="profile" ng-repeat="application in currentStack.applications">
						<table class="table">
							<thead>
								<tr>
									<th>application</th>
									<th>Instance name</th>
									<th>Instance size</th>
									<th>Usage</th>
									<th>Overall Cost</th>
								</tr>
							</thead>
							<tbody>
									<tr ng-repeat="instance in application.instances">
										<td><strong>{{ application.appId }}</strong></td>
										<td>{{instance.resourceType}}</td>
										<td>{{instance.instanceType}}</td>
										<td>{{instance.status}}</td>
										<td>${{instance.cost}}</td>
									</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</script>
<script type="text/ng-template" id="stacks_cost_statistics_report_modal.html">
	<div class="modal-body" id="modal-body">
		<div class="card ">
			 <div class="card-header" data-background-color="orange">
	                       <span class="nav-tabs-title">Usage Statistics</span>
	                       <p class="category">Aug 2016 - Jan 2016</p>
	        </div>
  			<div class="content">
	                       <div id="usageStats" class="ct-chart"></div>
			</div>
    		<div class="footer">
        		<div class="legend">
            		<i class="fa fa-circle text-info"></i> Count of instances
        		</div>
    		</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</script>
<script type="text/ng-template" id="stacks_cost_history_report_modal.html">
	<div class="modal-body" id="modal-body">
		<div class="card ">
			<div class="card-header" data-background-color="orange">
    			<span class="nav-tabs-title">Cost Trend</span>
    			<p class="category">Aug 2016 - Jan 2016</p>
			</div>
			<div class="content">
    			<div id="stacksCostHistoryChart" class="ct-chart">
			</div>
    		<div class="footer">
        		<div class="legend">
            		<i class="fa fa-circle text-info"></i> Instance Costs
        		</div>
    		</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</script>
