<script src="/js/app.js"></script>
<div class="wrapper">
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<nav class="navbar navbar-default navbar-fixed">
					<div class="container-fluid">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="mailto:{{user_details.email}}"><i class="fa fa-user-o" aria-hidden="true"></i> {{user_details.email}}</a></li>
						</ul>
					</div>
				</nav>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="orange">
							<i class="fa fa-pie-chart"></i>
						</div>
						<div class="card-content">
							<p class="category">Live Stacks</p>
							<h3 class="title" data-ng-bind="totLiveStackCount">0</h3>
						</div>
						<div class="card-footer">
							<div class="stats hand-cursor">
								<i class="fa fa-list" data-ng-click="showStackCountStatistics()">&nbsp;View</i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="orange">
							<i class="fa fa-laptop"></i>
						</div>
						<div class="card-content">
							<p class="category">Live Instances</p>
							<h3 class="title" data-ng-bind="instanceCount">0</h3>
						</div>
						<div class="card-footer">
							<div class="stats hand-cursor">
								<i class="fa fa-list" data-ng-click="showInstanceStatistics()">&nbsp;View</i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="orange">
							<i class="fa fa-laptop"></i>
						</div>
						<div class="card-content">
							<p class="category"  style="margin-right: -5px;">Unused Instances</p>
							<h3 class="title" data-ng-bind="unusedInstanceCount">0</h3>
						</div>
						<div class="card-footer">
							<div data-ng-show="unusedInstanceCount != 0" class="stats hand-cursor">
								<i class="fa fa-list" data-ng-click="showUnusedInstanceStatistics()">&nbsp;View</i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="green">
							<i class="fa fa-usd"></i>
						</div>
						<div class="card-content">
							<p class="category">
								Cost <small>(till date)</small>
							</p>
							<h3 class="title">${{totalCost}}</h3>
						</div>
						<div class="card-footer">
							<div class="stats hand-cursor">
								<i class="fa fa-list" data-ng-click="showStackCostHistory()">&nbsp;View</i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-eq-height">
				<div class="col-lg-6 col-md-12">
					<div class="card card-nav-tabs">
						<div class="card-header" data-background-color="purple">
							<div class="nav-tabs-navigation">
								<div class="nav-tabs-wrapper">
									<span class="nav-tabs-title" data-tabs="tabs">Financial
										Summary:</span>
									<ul class="nav nav-tabs" data-tabs="tabs">
										<li>&nbsp;&nbsp;&nbsp;</li>
										<li class="pull-right"><input type="text"
											ng-model="stack_search" class="form-control"
											placeholder="Search Stack"></li>
									</ul>
									<p class="category">
										<small>(Costs shown are approximates, based on
											standard usage and costs. Actuals may slightly vary)</small>
									</p>
								</div>
							</div>
						</div>
						<div class="card-content">
							<div class="tab-content">
								<div class="tab-pane active" id="profile">
									<table class="table">
										<thead>
											<tr>
												<th colspan="5">
													<div class="pull-left">
														<dir-pagination-controls max-size = "5"
															on-page-change="populateStackList(newPageNumber)"
															direction-links="true" boundary-links="false"
															pagination-id="stack_list"></dir-pagination-controls>
													</div>
													<div class="pull-right">
													Filter:<i class="fa fa-filter" aria-hidden="true"></i>
													<select class="cs_font_black selectBuild" data-ng-init="stackStatusFilter = stackStatusFilterList[0]"
														data-ng-options="list for list in stackStatusFilterList" data-ng-model="stackStatusFilter"></select>
													</div>
												</th>
											</tr>
											<tr>
												<th class="hidden-lg hidden-md"></th>
												<th>Stack Name</th>
												<th class="hidden-sm hidden-xs">Status</th>
												<th>Cost report</th>
											</tr>
										</thead>
										<tbody>
											<tr
												dir-paginate="stack in out = ((stackStatusFilter=='ACTIVE' ? stackList : terminatedStackList) | filter:{name:stack_search, status:(stackStatusFilter=='ACTIVE' ? '!TERMINATED':'TERMINATED' )}) | itemsPerPage: 5"
												total-items="stackStatusFilter=='ACTIVE' ? totLiveStackCount : totTerminatedStackCount"
												pagination-id="stack_list">
												<td class="hidden-lg hidden-md"><span
													class="fa fa-terminal"></span></td>
												<td>
													<div data-ng-click="setCurrentStack(stack.id)">
														<strong class="hand-cursor" >{{ stack.name }}</strong>
													</div>
												</td>
												<td class="hidden-sm hidden-xs">{{stack.status}}</td>
												<td data-ng-click="showCostReport(stack.id)"><i
													class="fa hand-cursor fa-list"></i></td>
											</tr>
										</tbody>
									</table>
									<a href="#/stack"
										class="btn btn-primary padding-all-medium text-right btn-align-right"
										data-ng-show="totLiveStackCount == 0"> <i
										class="pe-7s-graph">&nbsp;&nbsp;&nbsp;</i>LAUNCH NEW STACK
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12"
					data-ng-show="user_management_enabled">
					<div class="card card-nav-tabs">
						<div class="card-header" data-background-color="purple">
							<div class="nav-tabs-navigation">
								<div class="nav-tabs-wrapper">
									<span class="nav-tabs-title" data-tabs="tabs">User
										Management</span>
									<ul class="nav nav-tabs" data-tabs="tabs">
										<li>&nbsp;&nbsp;&nbsp;</li>
										<!-- <li>&nbsp;&nbsp;&nbsp;</li> -->
										<li class="active"><a href="" data-toggle="tab">
												<div class="hand-cursor" data-ng-click="addGroup()">
													<i class="fa fa-plus"></i> ADD GROUP
												</div>
												<div class="ripple-container"></div>
										</a></li>
										<div class="pull-right" class="tab-pane active"
											id="user_search">
											<input type="text" ng-model="user_search"
												class="form-control" placeholder="Search">
										</div>
								</div>
								</ul>
								<ul class="nav nav-tabs user_tabs" style="display: inline;">
									<li class="active"><a target="_self" href="#id_user_list"
										href="#user_search" data-toggle="tab">USERS VIEW</a></li>
									<li><a target="_self" href="#group_list"
										href="#group_search" data-toggle="tab">GROUPS VIEW</a></li>
								</ul>
							</div>
						</div>

						<div class="card-content">
							<div class="tab-content">
								<div class="tab-pane active" id="id_user_list">
									<table class="table">
										<thead>
											<tr>
												<th colspan="5">
													<div class="text-center">
														<dir-pagination-controls pagination-id="user_list"
															on-page-change="getLiveUsersData(newPageNumber)"
															direction-links="true" boundary-links="true"></dir-pagination-controls>
													</div>
												</th>
											</tr>
											<tr>
												<th class="hidden-lg hidden-md"></th>
												<th>User Id / Name</th>
												<!-- <th class="hidden-sm hidden-xs">Email</th> -->
												<th class="hidden-sm hidden-xs">Role</th>
											</tr>
										</thead>
										<tbody>
											<tr
												dir-paginate="user in userList | filter:user_search | itemsPerPage:5"
												total-items="totUsersCount" pagination-id="user_list">
												<td class="hidden-lg hidden-md"><span
													class="fa fa-terminal"></span></td>
												<td><strong>{{ user.userName }}</strong><br />
													{{user.firstName}}, {{user.lastName}}</td>
												<!-- <td class="hidden-sm hidden-xs">{{user.email}}</td> -->
												<td class="hidden-sm hidden-xs">{{user.role.name}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tab-pane" id="group_list">
									<table class="table">
										<thead>
											<tr>
												<th colspan="5">
													<div class="text-center">
														<dir-pagination-controls pagination-id="group_list"
															on-page-change="getLiveGroupsData(newPageNumber)"
															direction-links="true" boundary-links="true"></dir-pagination-controls>
													</div>
												</th>
											</tr>
											<tr>
												<th class="hidden-lg hidden-md"></th>
												<th>Group Name</th>
												<th class="hidden-sm hidden-xs">Admin</th>
												<th>Edit</th>
												<th>Delete</th>
											</tr>
										</thead>
										<tbody>
											<tr
												dir-paginate="group in group_list | filter:user_search | itemsPerPage:5"
												total-items="totGroupsCount" pagination-id="group_list">
												<td class="hidden-lg hidden-md"><span
													class="fa fa-terminal"></span></td>
												<td><strong>{{ group.name }}</strong></td>
												<td class="hidden-sm hidden-xs">{{group.admin}}</td>
												<td><i class="fa hand-cursor fa-pencil"
													data-ng-click="editGroup(group.id)"></i></td>
												<td><i class="fa hand-cursor fa-trash"
													data-ng-click="deleteGroup(group.id)"></i></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-eq-height">
				<div class="col-lg-6 col-md-12">
					<div class="card card-nav-tabs">
						<div class="card-header" data-background-color="purple">
							<div class="nav-tabs-navigation">
								<div class="nav-tabs-wrapper">
									<span class="nav-tabs-title">Applications:</span>
									<ul class="nav nav-tabs" data-tabs="tabs">
										<li class="active"><a target="_self"
											data-ng-href="#runningResourceCountByApp" data-toggle="tab">
												<i class="fa fa-terminal"></i> Running
										</a></li>
										<li class=""><a target="_self"
											data-ng-href="#terminatedResourceCountByApp"
											data-toggle="tab"> <i class="fa fa-times"></i> Terminated
										</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="card-content">
							<div class="tab-content">
								<div class="tab-pane active" id="runningResourceCountByApp">
									<table class="table">
										<tr class="text-warning">
											<th>Name</th>
											<th>Instance Count</th>
										</tr>
										<tbody>
											<tr data-ng-repeat="(key, value) in runningInstCountByApp">
												<td>{{key.toUpperCase()}}</td>
												<td>{{value}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tab-pane" id="terminatedResourceCountByApp">
									<table class="table">
										<tr class="text-warning">
											<th>Name</th>
											<th>Instance Count</th>
										</tr>
										<tbody>
											<tr data-ng-repeat="(key, value) in terminatedInstCountByApp">
												<td>{{key.toUpperCase()}}</td>
												<td>{{value}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="card card-nav-tabs">
						<div class="card-header" data-background-color="purple">
						<span class="nav-tabs-titles">BUILD DETAILS </span><br>
					<!-- 		<h4 class="title">BUILD DETAILS</h4> -->
							<p class="category">Build details of applications</p>
						</div>
						<div class="card-content table-responsive">
							<table class="table table-hover">
								<tr class="text-warning">
									<th>Name</th>
									<th>Last successful build</th>
								</tr>
								<tbody>
									<tr data-ng-repeat="app in appList">
										<td data-ng-bind="app.id"></td>
										<td data-ng-bind="app.buildInfo[0]"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-eq-height">
				<div class="col-lg-6 col-md-12"
					data-ng-show="user_management_enabled">
					<div class="card ">
						<div class="card-header" data-background-color="orange">
							<span class="nav-tabs-title">Cost Report </span>
							<p class="category">Top 10 Users ordered by cost incurred</p>
						</div>
						<div class="content">
							<div id="usageStatses" class="ct-chart"></div>
							<div class="footer">
								<div class="legend">
									<i class="fa fa-circle text-info"></i>cost per User
									<!--   <i class="fa fa-circle text-danger"></i> Stacks Launched -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12"
					data-ng-show="user_management_enabled">
					<div class="card ">
						<div class="card-header" data-background-color="orange">
							<span class="nav-tabs-title">Count of Stack Report </span>
							<p class="category">Top 10 Users ordered by count of live
								stacks</p>
						</div>
						<div class="content">
							<div id="usageStats" class="ct-chart"></div>
							<div class="footer">
								<div class="legend">
									<i class="fa fa-circle text-info"></i>Stack per User
									<!-- <i class="fa fa-circle text-danger"></i> Stacks Launched -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-eq-height">
				<div class="col-lg-6 col-md-12"
					data-ng-show="user_management_enabled">
					<div class="card ">
						<div class="card-header" data-background-color="orange">
							<span class="nav-tabs-title">Cost Report per Stack </span>
							<p class="category">Top 10 Stacks ordered by cost</p>
						</div>
						<div class="content">
							<div id="usageStacks" class="ct-chart"></div>
							<div class="footer">
								<div class="legend">
									<i class="fa fa-circle text-info"></i>cost per Stack
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12"
					data-ng-show="user_management_enabled">
					<div class="card ">
						<div class="card-header" data-background-color="orange">
							<span class="nav-tabs-title">Cost Report per Group </span>
							<p class="category">Top 10 Groups ordered by cost</p>
						</div>
						<div class="content">
							<div id="groupCost" class="ct-chart"></div>
							<div class="footer">
								<div class="legend">
									<i class="fa fa-circle text-info"></i>cost per Group
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

