<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <h1 class="text-center">Guidewire DEP Portal</h1>
				<!-- 
                <p class="form-title">Sign In</p>
                <form role="form" data-ng-submit="login()">
					<div class="form-group">
						<label for="username">Username:</label> <input type="text"
							class="form-control" id="username" name="username" data-ng-model="credentials.username"/>
					</div>
					<div class="form-group">
						<label for="password">Password:</label> <input type="password"
							class="form-control" id="password" name="password" data-ng-model="credentials.password"/>
					</div>
					<button type="submit" class="btn btn-primary">Submit
						<i class="fa fa-circle-o-notch fa-spin fa-fw" ng-show="progress"></i>
					</button>
				</form>
				 -->
				 <div class="jumbotron">
					Successfully Logged out.
				</div>
            </div>
        </div>
    </div>
</div>