<div class="wrapper">
	<div class="container-fluid">
		<form role="form" name="stackCreateForm" class="padding-lg">
			<div class="card-content table-responsive">
				<div class="row">
					<div class="col-lg-12 col-sm-12 ">
						<div class="card">
							<div class="card-header" data-background-color="purple">
								<div class="row">
									<div class="col-lg-6 col-sm-6 padding-all-medium">
										<h4 class="title">Default settings</h4>
										<p class="category">Enter details of the stack</p>
									</div>
									<div class="col-lg-6 col-sm-6 padding-all-medium text-right">
									<div class="btn btn-warning btn-war-disable" data-ng-click="cancelSettings()">
												<i class="fa fa-chevron-right">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;CANCEL
												<!-- <span class="fa fa-spinner fa-pulse fa-lg fa-fw" data-ng-show="inProgresses"></span> -->
										</div>
										<div class="btn btn-warning btn-war-disable" data-ng-click="saveSettings()" data-ng-disabled="inProgress">
												<i class="fa fa-chevron-right">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;SAVE
												<span class="fa fa-spinner fa-pulse fa-lg fa-fw" data-ng-show="inProgress"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="card-content table-responsive">
								<div data-ng-show="message != null" class="alert" data-ng-class="{'alert-success' : isAssignedSuccess, 'alert-danger' : !isAssignedSuccess}">
								    {{message}}
								</div>
							
								<div class="row" ng-repeat="setting in settings | filter:{ type: 'SETTING'}:true">
									<div class="form-group ">
										<div class="col-lg-3 col-sm-6 padding-all-medium">
											<label for="stackName">{{setting.key}}</label>
												<p class="category">{{setting.desc}}</p>
										</div>
										<div class="col-lg-3 col-sm-6 padding-all-medium">
											<input type="text" name="param value" required data-ng-model="setting.value">
										</div>
									</div>
								</div>
								<div>
									<div class="row padding-all-large" ng-show="settings != null">
										<table class="table table-hover">
											<tr class="text-warning">
												<th>Name</th>
												<th>SYSTEM DEFAULT INSTANCE SIZE</th>
											</tr>
											<tbody>
												<tr ng-repeat="setting in settings | filter:{type: 'APP_SETTING'}:true">
												<!-- <tr data-ng-repeat="app in appList"> -->
													<td>
														<label for="stackName">{{setting.key}}</label>
														<p class="category small">{{setting.desc}}</p>
													</td>
													<td><select class="instSize" data-ng-init = "instanceSizeList[0]" data-ng-model="setting.value"
														data-ng-options="instance for instance in instanceSizeList">
													</select></td>
												</tr>
											</tbody>
										</table>
										<div class="col-lg-12 col-sm-12 padding-all-medium text-right">
										<div class="btn btn-warning btn-war-disable" data-ng-click="cancelSettings()">
												<i class="fa fa-chevron-right">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;CANCEL
											<!-- 	<span class="fa fa-spinner fa-pulse fa-lg fa-fw" data-ng-show="inProgresses"></span> -->
											</div>
											<div class="btn btn-warning btn-war-disable" data-ng-click="saveSettings()" data-ng-disabled="inProgress">
												<i class="fa fa-chevron-right">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;SAVE
												<span class="fa fa-spinner fa-pulse fa-lg fa-fw" data-ng-show="inProgress"></span>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</form>
	</div>
</div>
