<div class="wrapper">
	<div class="container-fluid">
		<form role="form" name="stackCreateForm" class="padding-lg" confirm-on-exit>
		<div class="card-content table-responsive">
	  	<div class="row">
		  	<div class="col-lg-12 col-sm-12 padding-all-medium">
		  		<ul class="nav nav-pills nav-stacked tabstack">
			       	<li data-ng-class="{ active: isSet(1) }">
			          	<a class="col-lg-2 col-sm-2 inactiveLink" data-toggle="tab" data-ng-click="setTab(1)">1. Stack Details</a>
			       	</li>
			      <!--  	<li data-ng-class="{ active: isSet(2) }">
			          	<a class="col-lg-2 col-sm-2 inactiveLink" data-toggle="tab" data-ng-click="setTab(2)">2. Application Selection</a>
			       	</li> -->
			       	<li data-ng-class="{ active: isSet(2) }">
			          	<a class="col-lg-2 col-sm-2 inactiveLink" data-toggle="tab" data-ng-click="setTab(2)">2. Review and Launch</a>
			       	</li>
		       	</ul>
		  	</div>
	  	</div>
		<div class="alert alert-danger" data-ng-show="showFieldError">
			<span>{{errorMessage}}</span>
		</div>
	    <div class="col-lg-12 col-sm-12 ">
	       	<div data-ng-show="isSet(1)">
				<div class="card">
					<div class="card-header" data-background-color="purple">
						<div class="row">
							<div class="col-lg-6 col-sm-6 padding-all-medium">
								<h4 class="title">Stack Details</h4>
								<p class="category">Enter details of the stack</p>
							</div>
							<div class="col-lg-6 col-sm-6 padding-all-medium text-right">
								<div class="btn btn-warning" data-ng-click="goNext(2)">
									<i class="fa fa-chevron-right">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;CONTINUE
								</div>
							</div>
						</div>
					</div>
					<div class="card-content table-responsive">
						<div class="row">
								<div class="col-lg-3 col-sm-6 padding-all-medium">
									<label for="stackName">Stack Name *</label>
								</div>
								<div class="col-lg-3 col-sm-6 padding-all-medium">
									<input type="text" name="stackName" data-ng-model="stack.name" required>
									<div class="fa fa-info fa-sm icon hand-cursor" aria-hidden="true">
									  <span class="tooltiptext_right">Enter stack name</span>
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 padding-all-medium">
									<label for="stackName">Environment</label>
								</div>
								<div class="col-lg-3 col-sm-6">
										<select  data-ng-change="filterEnv();" class="selectBuild"
											data-ng-model="environmentType"
											data-ng-init="environmentType = envTypes[0]"
											data-ng-options="env for env in envTypes">
										</select>
									<div class="fa fa-info fa-sm icon hand-cursor" aria-hidden="true">
									  <span class="tooltiptext_right">In Clustered Environment Instances cannot be stop</span>
									</div>
								</div>
						</div>
						<div class="row">
							<div>
								<div class="col-lg-3 col-sm-6 padding-all-medium">
									<label for="plannedUseInDays" >Planned Use in days *</label>
								</div>
								<div class="col-lg-3 col-sm-6 padding-all-medium">
									<input class="textbox_pos" type="text" name="plannedUseInDays" data-ng-model="stack.plannedUseDays" required>
									<div class="fa fa-info fa-sm icon hand-cursor" aria-hidden="true">
									  <span class="tooltiptext_left">Number of days you plan to use this instance, Default is 10 days. Max 90 days</span>
									</div>
								</div>
							</div>
							<div>
								<div class="col-lg-3 col-sm-6 padding-all-medium">
									<label for="autoShutDown">Auto Shut Down</label>
								</div>
								<div class="col-lg-3 col-sm-6">
									<div class="btn-group">
									    <label class="btn btn-primary selected-{{stack.autoShutdown}}" data-ng-click="stack.autoShutdown = true" btn-radio="'Yes'">Yes</label>
									    <label class="btn btn-primary selected-{{!stack.autoShutdown}}" data-ng-click="stack.autoShutdown = false" btn-radio="'No'">No</label>
									</div>
									<div class="fa fa-info fa-sm icon" aria-hidden="true">
									  <span class="tooltiptext_right hand-cursor">Choose whether you want to shut it down automatically</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row padding-all-large">
							<table class="table table-hover">
							<tr class="text-warning">
								<th>Name</th>
								<th>Create DB</th>
								<th>Instance Count</th>
								<th>New Build</th>
								<th>Select Build</th>
							</tr>
							<tbody>
								<tr data-ng-repeat="app in appList">
									<td><input type="checkbox" data-ng-model="appSelected" data-ng-init="stack.applications[$index].appId = null" data-ng-click="selectApp($index, app.id, appSelected)" >&nbsp;&nbsp;&nbsp;{{app.id.toUpperCase()}}</td>
									<td><input type="checkbox" data-ng-model="stack.applications[$index].newDB" data-ng-init="stack.applications[$index].newDB = false" name="createDb"></td>
									<td data-ng-show = "stack.envType">
										<select class="instCount" data-ng-init="stack.applications[$index].instCount = instanceCountList[0]" data-ng-model="stack.applications[$index].instCount"  data-ng-options="inst for inst in instanceCountList">
										</select>
									</td>
									<td class="instCount" data-ng-show = "!stack.envType" data-ng-value="1" data-ng-model="stack.applications[$index].instCount" >
									1
									</td>
									<td><input type="checkbox" data-ng-model="stack.applications[$index].newBuild" data-ng-init="stack.applications[$index].newBuild = false" name="newBuild"></td>
									<td>
										<select  class="selectBuild" data-ng-init="stack.applications[$index].buildId = app.buildInfo[0]" data-ng-model="stack.applications[$index].buildId"  data-ng-options="build for build in app.buildInfo">
										</select>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
						<div class="row">
							<div class="col-lg-12 col-sm-12 padding-all-medium text-right">
								<div class="btn btn-primary" data-ng-click="goNext(2)">
									<i class="fa fa-chevron-right">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;CONTINUE
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- <div data-ng-show="isSet(2)">
		    	<div class="card">
					<div class="card-header" data-background-color="purple">
						<div class="row">
							<div class="col-lg-6 col-sm-6 padding-all-medium">
								<h4 class="title">Application details</h4>
								<p class="category">Select required applications to be
									launched</p>
							</div>
							<div class="col-lg-6 col-sm-6 padding-all-medium text-right">
								<div class="btn btn-warning" data-ng-click="goNext(1)">
									<i class="fa fa-chevron-left">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;PREVIOUS
								</div>
								<div class="btn btn-warning" data-ng-click="goNext(3)">
									<i class="fa fa-chevron-right">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;CONTINUE
								</div>
							</div>
						</div>
					</div>
					<div class="card-content table-responsive">
						<table class="table table-hover">
							<tr class="text-warning">
								<th>Name</th>
								<th>Create DB</th>
								<th>Instance Count</th>
								<th>New Build</th>
								<th>Select Build</th>
							</tr>
							<tbody>
								<tr data-ng-repeat="app in appList">
									<td><input type="checkbox" data-ng-model="appSelected" data-ng-init="stack.applications[$index].appId = null" data-ng-click="selectApp($index, app.id, appSelected)" >&nbsp;&nbsp;&nbsp;{{app.id.toUpperCase()}}</td>
									<td><input type="checkbox" data-ng-model="stack.applications[$index].newDB" data-ng-init="stack.applications[$index].newDB = false" name="createDb"></td>
									<td>
										<select class="instCount" data-ng-init="stack.applications[$index].instCount = instanceCountList[0]" data-ng-model="stack.applications[$index].instCount"  data-ng-options="inst for inst in instanceCountList">
										</select>
									</td>
									<td><input type="checkbox" data-ng-model="stack.applications[$index].newBuild" data-ng-init="stack.applications[$index].newBuild = false" name="newBuild"></td>
									<td>
										<select  class="selectBuild" data-ng-init="stack.applications[$index].buildId = app.buildInfo[0]" data-ng-model="stack.applications[$index].buildId"  data-ng-options="build for build in app.buildInfo">
										</select>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="row">
							<div class="col-lg-12 col-sm-12 padding-all-medium text-right">
								<div class="btn btn-primary" data-ng-click="goNext(1)">
									<i class="fa fa-chevron-left">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;PREVIOUS
								</div>
								<div class="btn btn-warning" data-ng-click="goNext(3)">
									<i class="fa fa-chevron-right">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;CONTINUE
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
			<div data-ng-show="isSet(2)">
		     	<div class="card">
					<div class="card-header" data-background-color="purple">
						<div class="row">
							<div class="col-lg-6 col-sm-6 padding-all-medium">
								<h4 class="title">Review stack details</h4>
								<p class="category">Review Stack and Application details</p>
							</div>
							<div class="col-lg-6 col-sm-6 padding-all-medium text-right">
								<div class="btn btn-warning" data-ng-click="goNext(1)">
									<i class="fa fa-chevron-left">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;PREVIOUS
								</div>
								<div class="btn btn-warning">
									<i class="fa fa-trash">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;DISCARD STACK
								</div>
								<div class="btn btn-warning btn-war-disable" data-ng-click="saveStackDetails()" data-ng-disabled="launchInProgress">
									<i class="fa fa-save">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;CREATE STACK
									<span class="fa fa-spinner fa-pulse fa-lg fa-fw" data-ng-show="launchInProgress"></span>										
								</div>
							</div>
						</div>
					</div>
					<!-- stack details starts -->
					<div class="card-content table-responsive">
						<div class="row">
							<div class="col-lg-3 col-sm-6 padding-all-medium">
								<label for="stackName">Stack Name</label>
							</div>
							<div class="col-lg-3 col-sm-6 padding-all-medium">
								<label for="stackName" data-ng-bind="stack.name"></label>
							</div>
							<div class="col-lg-3 col-sm-6 padding-all-medium">
								<label for="stackName">Environment</label>
							</div>
							<div class="col-lg-3 col-sm-6 padding-all-medium">
								<label for="stackName" data-ng-bind="stack.envType ? 'CLUSTERED' : 'STANDARD'"></label>
							</div>
						</div>
						<div class="row">
							<div>
								<div class="col-lg-3 col-sm-6 padding-all-medium">
									<label for="plannedUseInDays" >Planned Use in days</label>
								</div>
								<div class="col-lg-3 col-sm-6 padding-all-medium">
									<label for="plannedUseInDays" data-ng-bind="stack.plannedUseDays"></label>
								</div>
							</div>
							<div>
								<div class="col-lg-3 col-sm-6 padding-all-medium">
									<label for="autoShutDown">Auto Shut Down</label>
								</div>
								<div class="col-lg-3 col-sm-6 padding-all-medium">
									<label for="autoShutDown" data-ng-bind="stack.autoShutdown"></label>
								</div>
							</div>
						</div>
					<!-- stack details ends -->
					<!-- application details starts -->
					<div class="row padding-all-large">
						<table class="table table-hover">
							<tr class="text-warning">
								<th>Name</th>
								<th>Create DB</th>
								<th>Instance Count</th>
								<th>New Build</th>
								<th>Select Build</th>
							</tr>
							<tbody>
								<tr data-ng-repeat="app in ( filteredAppList = (stack.applications | filter:{appId:''}))">
									<td data-ng-bind="filteredAppList[$index].appId.toUpperCase()"></td>
									<td data-ng-bind="filteredAppList[$index].newDB"></td>
									<td data-ng-bind="filteredAppList[$index].instCount"></td>
									<td data-ng-bind="filteredAppList[$index].newBuild"></td>
									<td data-ng-bind="!filteredAppList[$index].newBuild ? filteredAppList[$index].buildId : '-'"></td>
								</tr>
							</tbody>
						</table>
						</div>
					</div>
					<!-- application details ends -->
			     	<div class="row">
						<div class="col-lg-12 col-sm-12 padding-all-medium text-right">
							<div class="btn btn-primary" data-ng-click="goNext(1)">
								<i class="fa fa-chevron-left">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;PREVIOUS
							</div>
							<div class="btn btn-primary">
								<i class="fa fa-trash">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;DISCARD STACK
							</div>
							<div class="btn btn-warning btn-war-disable" data-ng-click="saveStackDetails()" data-ng-disabled="launchInProgress">
									<i class="fa fa-save">&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;CREATE STACK 
									<span class="fa fa-spinner fa-pulse fa-lg fa-fw" data-ng-show="launchInProgress"></span>										
							</div>
						</div>
					</div>
				</div>
		  	</div>
  	</div>
  </div>
</form>
</div>
</div>
