<div class="wrapper">	
	<div class="container-fluid">
		<div id="toggleText">
			<div class="card">
				<div class="card-header" data-background-color="orange">
					<div class="row">
						<div class="col-lg-4 col-sm-4 padding-all-medium">
							<h4 class="title">Stack Details</h4>
							<p class="category" data-ng-show="currentStack.status != 'TERMINATED'">Details of the stack</p>
							<p class="category" data-ng-show="currentStack.status == 'TERMINATED'"> The stack is terminated and cannot be modified.</p>
						</div>
						<div data-ng-show="currentStack.status != 'TERMINATED'" class="col-lg-2 col-sm-2 padding-all-medium">
							<span data-ng-disabled="disableAtLaunch" class="btn btn-primary padding-all-medium text-right btn-align-right" data-ng-click="terminateStack()" data-ng-show="{{currentStack.status != 'TERMINATED'}}">
								<i class="fa fa-trash">&nbsp;&nbsp;</i>Delete Stack
							</span>
						</div>
						<div data-ng-show="currentStack.status != 'TERMINATED'" class="col-lg-2 col-sm-2 padding-all-medium">
							<span class="btn btn-primary padding-all-medium text-right btn-align-right" data-ng-click="updateStack()" data-ng-show="{{currentStack.status != 'TERMINATED'}}">
								<i class="fa fa-cloud-upload">&nbsp;&nbsp;</i>Update Stack
							</span>
						</div>
						<div data-ng-show="user_management_enabled && currentStack.status != 'TERMINATED'" class="col-lg-2 col-sm-2 padding-all-medium">
							<span class="btn btn-primary padding-all-medium text-right btn-align-right"  data-ng-click="assignStackToUser()">
								<i class="fa fa-share-alt">&nbsp;&nbsp;</i>Assign Stack
							</span>
						</div>
						<div data-ng-show="currentStack.status != 'TERMINATED'" class="col-lg-2 col-sm-2 padding-all-medium">
							<span class="btn btn-primary padding-all-medium text-right btn-align-right"  data-ng-click="shareStackToUser()">
								<i class="fa fa-share-alt">&nbsp;&nbsp;</i>Share Stack
							</span>
						</div>
					</div>
				</div>
				<div class="card-content table-responsive">
					<div class="row">
						<div class="form-group ">
							<div class="col-lg-3 col-sm-6 padding-all-medium">
								<label for="stackName">Stack Name </label>
							</div>
							<div class="col-lg-3 col-sm-6 padding-all-medium">
								<input type="text" name="stackName" data-ng-disabled = "true" data-ng-model="currentStack.name" required>
							</div>
							<div class="col-lg-3 col-sm-6 padding-all-medium">
								<label for="stackName">Environment </label>
							</div>
							<div class="col-lg-3 col-sm-6 padding-all-medium" 	data-ng-bind="currentStack.envType.envType ? 'CLUSTERED' : 'STANDARD'">
							</div>
						</div>
					</div>
					<div class="row">
						<div>
							<div class="col-lg-3 col-sm-6 padding-all-medium">
								<label for="plannedUseInDays" >Planned Use in days </label>
							</div>
							<div class="col-lg-3 col-sm-6 padding-all-medium">
								<input class="textbox_pos" type="text" name="plannedUseInDays" data-ng-model="currentStack.plannedUseDays" required>
								<div class="fa fa-info fa-sm icon hand-cursor" aria-hidden="true">
								  <span  class="tooltiptext_left">Number of days you plan to use this instance, Default is 10 days. Max 90 days</span>
								</div>
							</div>
						</div>
						<div>
							<!-- <div class="col-lg-3 col-sm-6 padding-all-medium">
								<label for="autoShutDown">Auto Shut Down</label>
							</div>
							<div class="col-lg-3 col-sm-6 padding-all-medium">
								<input type="radio" name="autoShutDown" data-ng-model="currentStack.autoShutdown" data-ng-value="true">
								<label for="yes">Yes</label> &nbsp;&nbsp;&nbsp; 
								<input type="radio" name="autoShutDown"  data-ng-model="currentStack.autoShutdown" data-ng-value="false" checked="checked">
								<label for="no">No</label>
								<div class="fa fa-info fa-sm icon" aria-hidden="true">
								  <span class="tooltiptext_right">Choose whether you want to shut it down automatically</span>
								</div>
							</div>
						</div> -->
						
						<div>
								<div class="col-lg-3 col-sm-6 padding-all-medium">
									<label for="autoShutDown">Auto Shut Down</label>
								</div>
								<div class="col-lg-3 col-sm-6">
									<div class="btn-group">
									    <label class="btn btn-primary selected-{{currentStack.autoShutdown}}" data-ng-click="currentStack.autoShutdown = true" btn-radio="'Yes'">Yes</label>
									    <label class="btn btn-primary selected-{{!currentStack.autoShutdown}}" data-ng-click="currentStack.autoShutdown = false" btn-radio="'No'">No</label>
									</div>
									<div class="fa fa-info fa-sm icon hand-cursor" aria-hidden="true">
									  <span class="tooltiptext_right">Choose whether you want to shut it down automatically</span>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div id="toggleText" data-ng-hide="(currentStack.applications | terminatedApp).length == 0">
			<div class="card">
				<div class="card-header" data-background-color="orange">
					<h4 class="title">Terminated Applications (Stack : {{currentStack.name}})</h4>
					<p class="category">List of all terminated applications.</p>
				</div>
				
				<div class="card-content table-responsive">
					<table class="table table-hover">
						<tr class="text-warning">
							<th>Application</th>
							<th>Build</th>
							<th>Status</th>
							<!-- <th>Action</th> -->
						</tr>
						<tbody>
							<tr data-ng-repeat="runningApp in currentStack.applications | terminatedApp">
								<td>{{runningApp.appId.toUpperCase()}}</td>
								<td>{{runningApp.buildId}}</td>
								<td>{{runningApp.status}}</td>
								<!-- <td><button class="btn btn-warning btn-disable" data-ng-click="terminateApplication(runningApp.id)" data-ng-hide="['TERMINATED', 'TERMINATION_STARTED'].indexOf(runningApp.status) != -1">RELAUNCH</button></td> -->
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="toggleText" data-ng-hide = "(currentStack.applications | runningApp).length == 0">
			<div class="card">
				<div class="card-header" data-background-color="orange">
					<h4 class="title">Launched Applications (Stack : {{currentStack.name}})</h4>
					<p class="category">List of all launched applications.</p>
				</div><br>
				<div data-ng-show="disableAtLaunch" class="alert" style="background-color: #5F4BB6;">
				STACK IS IN-PROGRESS STATUS
				<span class="fa fa-spinner fa-pulse fa-lg fa-fw pull-right"></span>
				</div>
				<div class="card-content table-responsive">
					<table class="table table-hover">
						<tr class="text-warning">
							<th>Application</th>
							<th>Instances</th>
							<th>Create DB</th>
							<th>New Build</th>
							<th>Select Build</th> 
							<th>Build Action</th>
							<th>Action</th>
						</tr>
						<tbody>
							<tr data-ng-repeat="runningApp in rAppList = (currentStack.applications | runningApp)">
								<td><a href="{{runningApp.appURL}}" target="_blank">{{runningApp.appId.toUpperCase()}}</a> / BUILD : {{runningApp.buildId}}<br/><small>STATUS : {{runningApp.status}}</small></td>
								<td><span class="hand-cursor" data-ng-click="viewInstances(runningApp.id)">View</span></td>
								<td><input type="checkbox" data-ng-model="rAppList[$index].newDB" data-ng-init="rAppList[$index].newDB = false"
								name="createDb"></td>
								<td><input type="checkbox" name="application"  data-ng-model="rAppList[$index].newBuild" data-ng-value="false" data-ng-init="rAppList[$index].newBuild = false" ></td>
								<td><select  class="selectBuild" data-ng-model="rAppList[$index].buildId" data-ng-options="build for build in runningApp.buildInfo">
									</select></td>
								<td >
									<button class="btn btn-warning btn-disable" data-ng-click="updateBuild(runningApp)" data-ng-disabled="['INSTANCE_CREATION_STARTED', 'INSTANCE_CREATION_FAILED', 'TERMINATION_STARTED', 'BUILD_IN_PROGRESS', 'BUILD_IN_QUEUE'].indexOf(runningApp.status) != -1" >Update Build</button>
								</td>
								<td><button class="btn btn-warning btn-war-disable" data-ng-click="terminateApplication(runningApp.id, runningApp.appId.toUpperCase())" data-ng-disabled="['INSTANCE_CREATION_FAILED'].indexOf(runningApp.status) != -1 || disableAtLaunch">Terminate</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="toggleText" data-ng-hide="currentStack.status == 'TERMINATED' || appList.length == 0">
			<div class="card">
				<div class="card-header" data-background-color="orange">
					<h4 class="title">Available Applications</h4>
					<p class="category">Applications yet to be launched.</p>
				</div>
				<div class="card-content table-responsive">
					<table class="table table-hover">
						<tr class="text-warning">
							<th>Application</th>
							<th>Create DB</th>
							<th>Instance Count</th>
							<th>New Build</th>
							<th>Select Build</th>
							<th>Actions</th>
						</tr>
						<tbody>
							<tr data-ng-repeat="app in appList">
								<td data-ng-init="appDetail[$index].appId = app.id" data-ng-model = "appDetail[$index].appId" data-ng-bind="app.id.toUpperCase()"></td>	
								<td><input type="checkbox" data-ng-model="appDetail[$index].newDB" data-ng-init="appDetail[$index].newDB = false"
								name="createDb"></td>
								<td data-ng-show="currentStack.envType">
									<select class="instCount" data-ng-model="appDetail[$index].instCount" data-ng-init="appDetail[$index].instCount = instanceCountList[0]" data-ng-options="inst for inst in instanceCountList">
									</select>
								</td>
								<td data-ng-show="!currentStack.envType" class="instCount" data-ng-model="appDetail[$index].instCount" data-ng-value="1">1
								</td>
								<td><input type="checkbox" data-ng-model="appDetail[$index].newBuild" data-ng-init="appDetail[$index].newBuild = false" name="application" ></td>
								<td>
									<select  class="selectBuild" data-ng-model="appDetail[$index].buildId" data-ng-init="appDetail[$index].buildId = app.buildInfo[0]" data-ng-options="build for build in app.buildInfo">
									</select>
								</td>
								<td><button class="btn btn-primary btn-disable" data-ng-click="launchApp(appDetail[$index], $index)"  data-ng-disabled="disableAtLaunch">Launch
										<span class="fa fa-spinner fa-pulse fa-lg fa-fw" data-ng-show="launchInProgress[$index]"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
